<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Costumer Jn Address</div>
					</div>
				</div>
				<form class="col-12 md:col-12">
					<div class="field grid">
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.customerCode"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Name</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.customerName"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Address</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.customerAddress"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4">City</label>
								<div class="col-6 md:col-4">
									<InputText type="text" v-model="form.customerCityCode"/>
								</div>
								<div class="col-6 md:col-4">
									<InputText v-model="form.customerCityName" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4">Country</label>
								<div class="col-6 md:col-4">
									<InputText type="text" v-model="form.customerCountryCode"/>
								</div>
								<div class="col-6 md:col-4">
									<InputText v-model="form.customerCountryName" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Phone 1*</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.customerPhone1"/>
									</div>
								</div>
								<div class="col-6 md:col-4">
									<InputText v-model="form.customerPhone2"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Email</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.customerEmail"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Category</label>
								<div class="col-6 md:col-4">
									<InputText type="text" v-model="form.customerCategoryCode"/>
								</div>
								<div class="col-6 md:col-4">
									<InputText v-model="form.customerCategoryName" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Contact Person</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.customerContactPerson"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Remark</label>
								<div class="col-12 md:col-8">
									<Textarea v-model="form.remark" rows="3" cols="20" />
								</div>
							</div>
						</div>
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.code" placeholder="Enter Code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
									<small class="p-invalid" v-if="isError && !form.code">Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Name</label>
								<div class="col-12 md:col-8">
									<InputText type="text" v-model="form.name" placeholder="Enter Name"/>
									<small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
								</div>
							</div>
						</div>	
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-4 md:mb-0">Active Status</label>
								<div class="col-12 md:col-8">
									<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
								</div>
							</div>
							<div class="field grid">
								<div class="col-12 mb-2 md:col-4 md:mb-0"></div>
								<div class="col-6 md:col-3">
									<Button label="Save" class="p-button-warning" @Click="submit"></Button>
								</div>
								<div class="col-6 md:col-3">
									<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
								</div>
							</div>
						</div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			remark: "",
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('customer-jn-address', data);
			this.form = temp.data;
		},
		async submit() {
			if(this.submitted){
				await this.master.updateMaster('customer-jn-address', this.form);
			}else{
				await this.master.saveMaster('customer-jn-address', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
	}
}
</script>
