<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Customer</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted"	required="true" autofocus :class="{ 'p-invalid': submitted && !form.code }" />
									<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.name" placeholder="Enter name" autofocus	:class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Address</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.address" placeholder="Enter address" autofocus	:class="{ 'p-invalid': isError && !form.address }" />
									<small class="p-invalid" v-if="isError && !form.address">Address is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">City</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.cityCode" placeholder="Enter city" @change="searchChange('city')"	:class="{ 'p-invalid': isError && form.cityCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('city')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.cityName" placeholder="city name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Province</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.provinceCode" placeholder="Province code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.provinceName" placeholder="Province name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Island</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.islandCode" placeholder="Island code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.islandName" placeholder="Island name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Country</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Costumer Category</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.customerCategoryCode" placeholder="Enter customer category code" @change="searchChange('customer-category')"	:class="{ 'p-invalid': isError && form.customerCategoryCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('customer-category')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.customerCategoryName" placeholder="customer category name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Zip Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.zipCode" placeholder="Enter name" />
									<small class="p-invalid" v-if="submitted && !form.zipName">Zip Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Phone1</label>
								<div class="col-12 md:col-4">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.phone1" placeholder="Enter Phone1" />
										<small class="p-invalid" v-if="submitted && !form.phone1">Phone1 is required.</small>
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.phone2" placeholder="Enter Phone 2" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.email" placeholder="Enter email" />
									<small class="p-invalid" v-if="submitted && !form.email">Email is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Default Discount Code</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.defaultDiscountCode" placeholder="Enter default discount"	@change="searchChange('default-discount')"	:class="{ 'p-invalid': isError && form.defaultDiscountCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('default-discount')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.defaultDiscountName" placeholder="default discount name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Default Ship to</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.defaultShipToCode" placeholder="Enter default ship to"	@change="searchChange('default-ship-to')"	:class="{ 'p-invalid': isError && form.defaultShipToCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('default-ship-to')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.defaultShipToName" placeholder="default ship to name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Default bill to</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.defaultBillToCode" placeholder="Enter default bill to"	@change="searchChange('default-bill-to')" :class="{ 'p-invalid': isError && form.defaultBillToCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('default-bill-to')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.defaultBillToName" placeholder="default bill to name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Default Contact Person</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.defaultContactPersonCode" placeholder="Enter default contact person"	@change="searchChange('default-contact-person')" :class="{ 'p-invalid': isError && form.defaultContactPersonCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('default-contact-person')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.defaultContactPersonName" placeholder="default contact person name" disabled="true" />
								</div>
							</div>
						</div>
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwp" placeholder="Enter NPWP" />
									<small class="p-invalid" v-if="submitted && !form.npwp">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Name</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpName" placeholder="Enter NPWP Name" />
									<small class="p-invalid" v-if="submitted && !form.npwpName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Address</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpAddress" placeholder="Enter NPWP Address" />
									<small class="p-invalid" v-if="submitted && !form.npwpAddress">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">NPWP City</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.npwpCityCode" placeholder="Enter city" @change="searchChange('npwp-city')"	:class="{ 'p-invalid': isError && form.npwpCityCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('npwp-city')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.npwpCityName" placeholder="city name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">NPWP Country</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Zip Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpZipCode" placeholder="Enter npwp zip code" autofocus	:class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.npwpZipName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
								<div class="col-12 md:col-9">
									<Textarea v-model="form.remark" rows="3" cols="20" />
								</div>
							</div>
						</div>
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
								<div class="col-12 md:col-9">
									<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active"	:style="{ width: '8em' }" />
								</div>
							</div>
							<div class="field grid">
								<div class="col-12 md:col-3 mb-2 md:mb-0"></div>
								<div class="col-6 md:col-3">
									<Button label="Save" class="p-button-warning" @Click="submit"></Button>
								</div>
								<div class="col-6 md:col-3">
									<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: null,
			name: null,
			address: null,
			zipCode: null,
			zipName: null,
			phone1: null,
			phone2: null,
			email: null,
			npwp: null,
			npwpAddress: null,
			npwpZipCode: null,
			remark: null,
			activeStatus: true,
			customerCategoryCode: null,
			customerCategoryName: null,
			cityCode: null,
			cityName: null,
			provinceCode: null,
			provinceName: null,
			islandCode: null,
			islandName: null,
			countryCode: null,
			countryName: null,
			npwpCityCode: null,
			npwpCityName: null,
			defaultDiscountCode: null,
			defaultDiscountName: null,
			defaultShipToCode: null,
			defaultShipToName: null,
			defaultBillToCode: null,
			defaultBillToName: null,
			defaultContactPersonCode: null,
			defaultContactPersonName: null,
		}
	}),
	created() {
		if (getParam("code")) {
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('customer', data);
			this.form = temp.data;
		},
		async submit() {
			let BreakException = []
			this.isError = false;
			try {
				if (this.form.code == "" || this.form.code == null) {
					this.isError = true
					this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 })
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if (this.submitted) {
				await this.master.updateMaster('customer', this.form);
			} else {
				await this.master.saveMaster('customer', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
		async searchChange(master) {
			var data = null;
			switch (master) {
				case "city":
					data = await this.master.dataMaster(master, { code: this.form.provinceCode });
					this.form.cityCode = null;
					this.form.cityName = null;
					this.form.provinceCode = null;
					this.form.provinceName = null;
					this.form.islandCode = null;
					this.form.islandName = null;
					this.form.countryCode = null;
					this.form.countryName = null;
					this.form.cityCode = data.data.code;
					this.form.cityName = data.data.name;
					this.form.provinceCode = data.data.code;
					this.form.provinceName = data.data.name;
					this.form.islandCode = data.data.islandCode;
					this.form.islandName = data.data.islandName;
					this.form.countryCode = data.data.countryCode;
					this.form.countryName = data.data.countryName;
					this.form.npwpCityCode = data.data.code;
					this.form.npwpCityName = data.data.name;
					break
				default:
					break
			}
		},
		lookUpMaster(master) {
			switch (master) {
				case "city":
					this.$dialog.open(LookupMaster, {
						props: { header: 'Search city', modal: true },
						data: { module: master },
						onClose: (options) => {
							const data = options.data;
							this.form.cityCode = null;
							this.form.cityName = null;
							this.form.provinceCode = null;
							this.form.provinceName = null;
							this.form.islandCode = null;
							this.form.islandName = null;
							this.form.countryCode = null;
							this.form.countryName = null;
							if (data) {
								this.form.cityCode = data.code;
								this.form.cityName = data.name;
								this.form.provinceCode = data.code;
								this.form.provinceName = data.name;
								this.form.islandCode = data.islandCode;
								this.form.islandName = data.islandName;
								this.form.countryCode = data.countryCode;
								this.form.countryName = data.countryName;
							}
						}
					});
					break
				case "npwp-city":
					this.$dialog.open(LookupMaster, {
						props: { header: 'Search npwp city', modal: true },
						data: { module: master },
						onClose: (options) => {
							const data = options.data;
							this.form.cityCode = null;
							this.form.cityName = null;
							this.form.provinceCode = null;
							this.form.provinceName = null;
							this.form.islandCode = null;
							this.form.islandName = null;
							this.form.countryCode = null;
							this.form.countryName = null;
							if (data) {
								this.form.cityCode = data.code;
								this.form.cityName = data.name;
								this.form.provinceCode = data.code;
								this.form.provinceName = data.name;
								this.form.islandCode = data.islandCode;
								this.form.islandName = data.islandName;
								this.form.countryCode = data.countryCode;
								this.form.countryName = data.countryName;
							}
						}
					});
					break
				case "province":
					this.$dialog.open(LookupMaster, {
						props: { header: 'Search Master province', modal: true },
						data: { module: master },
						onClose: (options) => {
							const data = options.data;
							if (data) {
								this.form.provinceCode = data.provinceCode;
								this.form.provinceName = data.provinceName;
							}
						}
					});
					break
				case "island":
					this.$dialog.open(LookupMaster, {
						props: { header: 'Search Master island', modal: true },
						data: { module: master },
						onClose: (options) => {
							const data = options.data;
							if (data) {
								this.form.islandCode = data.islandCode;
								this.form.islandName = data.islandName;
							}
						}
					});
					break
				case "country":
					this.$dialog.open(LookupMaster, {
						props: { header: 'Search Master country', modal: true },
						data: { module: master },
						onClose: (options) => {
							const data = options.data;
							if (data) {
								this.form.countryCode = data.countryCode;
								this.form.countryName = data.countryName;
							}
						}
					});
					break
					case "customer-category":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search customer category',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.customerCategoryCode = null;
						this.form.customerCategoryName = null;
						if (data) {
							this.form.customerCategoryCode = data.customerCategoryCode;
							this.form.customerCategoryName = data.customerCategoryName;
						}
					}
				});
				break
				case "default-discount":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search default discount',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.defaultDiscountCode = null;
						this.form.defaultDiscountName = null;
						if (data) {
							this.form.defaultDiscountCode = data.defaultDiscountCode;
							this.form.defaultDiscountCode = data.defaultDiscountCode;
						}
					}
				});
				break
				case "default-ship-to":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search default ship to',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.defaultShipToCode = null;
						this.form.defaultShipToName = null;
						if (data) {
							this.form.defaultShipToCode = data.defaultShipToCode;
							this.form.defaultShipToName = data.defaultShipToName;
						}
					}
				});
				break
				case "default-bill-to":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search default bill to',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.defaultBillToCode = null;
						this.form.defaultBillToName = null;
						if (data) {
							this.form.defaultBillToCode = data.defaultBillToCode;
							this.form.defaultBillToName = data.defaultBillToName;
						}
					}
				});
				break
				case "default-contact-person":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search default contact person',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.defaultContactPersonCode = null;
						this.form.defaultContactPersonName = null;
						if (data) {
							this.form.defaultContactPersonCode = data.defaultContactPersonCode;
							this.form.defaultContactPersonName = data.defaultContactPersonName;
						}
					}
				});
				break
				default:
					break
			}
		},
	}
}
</script>
