<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-10">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Chart Of Account</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Type</label>
						<div class="col-12 md:col-10">
							<SelectButton v-model="rdbCoa" :options="rdbOptions" dataKey="value" optionLabel="name" @change="coaGroup"/>
						</div>
					</div>	
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
						<div class="col-12 md:col-4">
							<Dropdown v-model="currentGroup" :options="currentGroupOptions" optionLabel="name"/>
						</div>
						<div class="col-12 md:col-6 md:p-0">
							<div class="col-12 p-0 m-0 grid">
								<div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem;">
									<InputText :value="currentGroup.value" :disabled="true"/>
								</div>
								<div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem;">
									<InputText v-model="codeHead" placeholder="01" :disabled="isPropertyHead" :hidden="isPropertyHideHead"/>
								</div>
								<div class="col-2 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem;">
									<InputText v-model="codeGroup" placeholder="01-001" :disabled="isPropertyGroup" :hidden="isPropertyHideGroup"/>
								</div>
								<div class="col-6 p-0 m-0 px-1 my-1 md:my-0" style="padding: 1rem 0.1rem;">
									<InputText v-model="codeSub" placeholder="01-001-0011-001*az" :disabled="isPropertySub" :hidden="isPropertyHideSub"/>
								</div>
							</div>
						</div>
					</div>	
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.name" placeholder="Enter name" :class="{'p-invalid': isError && !form.name}"/>
							<small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
            <label class="col-12 mb-2 md:col-2 md:mb-0">PYQ Status</label>
            <div class="col-12 md:col-9">
              <label for="pyqStatus">YES</label>&nbsp;
              <RadioButton name="pyqStatus" value="1" v-model="form.pyqStatus" :style="{ width: '8em' }" />
              <label for="nonpyqStatus">NO</label>&nbsp;
              <RadioButton name="nonpyqStatus" value="0" v-model="form.pyqStatus" :style="{ width: '8em' }" />
            </div>
          </div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">BBM Status</label>
						<div class="col-12 md:col-9">
              <label for="bbmStatus">YES</label>&nbsp;
              <RadioButton name="bbmStatus" value="1" v-model="form.bbmStatus" :style="{ width: '8em' }" />
              <label for="nonbbmStatus">NO</label>&nbsp;
              <RadioButton name="nonbbmStatus" value="0" v-model="form.bbmStatus" :style="{ width: '8em' }" />
            </div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">BKM Status</label>
						<div class="col-12 md:col-9">
							<label for="bkmStatus">YES</label>&nbsp;
              <RadioButton name="bkmStatus" value="1" v-model="form.bkmStatus" :style="{ width: '8em' }" />
              <label for="nonbkmStatus">NO</label>&nbsp;
              <RadioButton name="nonbkmStatus" value="0" v-model="form.bkmStatus" :style="{ width: '8em' }" />
            </div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">GJM Status</label>
						<div class="col-12 md:col-9">
							<label for="gjmStatus">YES</label>&nbsp;
              <RadioButton name="gjmStatus" value="1" v-model="form.gjmStatus" :style="{ width: '8em' }" />
              <label for="nongjmStatus">NO</label>&nbsp;
              <RadioButton name="nongjmStatus" value="0" v-model="form.gjmStatus" :style="{ width: '8em' }" />
            </div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">ADJ Status</label>
						<div class="col-12 md:col-9">
							<label for="adjStatus">YES</label>&nbsp;
              <RadioButton name="adjStatus" value="1" v-model="form.adjStatus" :style="{ width: '8em' }" />
              <label for="nonadjStatuss">NO</label>&nbsp;
              <RadioButton name="nonadjStatus" value="0" v-model="form.adjStatus" :style="{ width: '8em' }" />
            </div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
						<div class="col-12 md:col-10">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
						<div class="col-12 md:col-10">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-2 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		isError: false,
		rdbCoa: { name: 'Head', value: "Head" },
		currentGroup: {name: 'Current Assets', value: '01'},
		currentGroupOptions: [
                {name: 'Current Assets', value: '01'},
                {name: 'Non Current Assets', value: '02'},
                {name: 'Current Liabilities', value: '03'},
                {name: 'Long Term liabilities', value: '04'},
                {name: 'Capital', value: '05'},
                {name: 'Sales', value: '06'},
                {name: 'Cost Of Goods Sold', value: '07'},
                {name: 'Marketing Expenses', value: '08'},
                {name: 'General And Administration Expenses', value: '09'},
                {name: 'Other Expenses', value: '10'},
                {name: 'Other Revenues', value: '11'},
                {name: 'Income Tax', value: '12'}
            ],
		rdbOptions: [
			{ name: 'Head', value: "Head" },
			{ name: 'Group', value: "Group" },
			{ name: 'Sub', value: 'Sub' },
		
		],
		placeholder: "9",
		isPropertyHideHead: false,
		isPropertyHideGroup: true,
		isPropertyHideSub: true,
		isPropertyHead: false,
		isPropertyGroup: true,
		isPropertySub: true,
		codeHead: null,
		codeGroup: null,
		codeSub: null,
		form: {
			code: "",
			name: "",
			remark: "",
			pyqStatus: '0',
			bbmStatus: '0',
			bkmStatus: '0',
			gjmStatus: '0',
			adjStatus: '0',
			currentcode: '',
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		coaGroup(){
			if(this.rdbCoa.value == "Head"){
				this.placeholder= "99";
				this.isPropertyHead= false;
				this.isPropertyGroup= true;
				this.isPropertySub= true;
				this.isPropertyHideHead= false;
				this.isPropertyHideGroup= true;
				this.isPropertyHideSub= true;
				this.form.code= this.codeHead;
			}else if(this.rdbCoa.value == "Group"){
				this.placeholder= "99-999";
				this.isPropertyHead= true;
				this.isPropertyGroup= false;
				this.isPropertySub= true;
				this.isPropertyHideHead= false;
				this.isPropertyHideGroup= false;
				this.isPropertyHideSub= true;
				this.form.code= this.codeGroup;
			}else {
				this.isPropertyHead= true;
				this.isPropertyGroup= true;
				this.isPropertySub= false;
				this.isPropertyHideHead= false;
				this.isPropertyHideGroup= false;
				this.isPropertyHideSub= false;
				this.placeholder= "99-999-9999-999-AZ";
				this.form.code= this.codeSub;
			}
			
		},
		async getData(data) {
			let temp = await this.master.dataMaster('chart-of-account', data);
			this.form = temp.data;
		},
		async submit() {
			this.coaGroup();
			if(this.submitted){
				await this.master.updateMaster('chart-of-account', this.form);
			}else{
				await this.master.saveMaster('chart-of-account', this.form);
			}
			let BreakException = {};
      this.isError = false;
			if (this.form.code == '' || this.form.code == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Code can't be null!", life: 3000 });
        throw BreakException;
      }
      if (this.form.name == '' || this.form.name == null) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }
			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.pyqStatus = this.form.pyqStatus === 'YES' ? 'YES' : 'NO';
        formSubmit.pyqStatus = this.detail;
      }
			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.bbmStatus = this.form.bbmStatus === 'YES' ? 'YES' : 'NO';
        formSubmit.bbmStatus = this.detail;
      }
			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.bkmStatus = this.form.bkmStatus === 'YES' ? 'YES' : 'NO';
        formSubmit.bkmStatus = this.detail;
      }
			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.gjmStatus = this.form.gjmStatus === 'YES' ? 'YES' : 'NO';
        formSubmit.gjmStatus = this.detail;
      }
			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.adjStatus = this.form.adjStatus === 'YES' ? 'YES' : 'NO';
        formSubmit.adjStatus = this.detail;

				if (this.submitted) {
          await this.master.updateMaster('chart-of-account', formSubmit);
          this.cancel();
        } else {
          await this.master.saveMaster('chart-of-account', formSubmit);
          this.cancel();
        }
      }
		},
		cancel() {
			history.back();
		},
	}
}
</script>
