<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Un Assign Delivery Note Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4"><b>INV No *</b></label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Branch </label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                <div class="col-12 md:col-8">
                  <InputText v-model="form.transactionDate" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">SO No</label>
                <div class="col-6 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.salesOrderCode" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Customer</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.customerName" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Contact Person</label>
                <div class="col-12 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerContactName" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Address</label>
                <div class="col-12 md:col-8">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerAddress" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Phone</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.customerPhone1" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.customerPhone2" disabled="true" />
                </div>
              </div>
            </div>
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Currency</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4"><b>Exchange Rate *</b></label>
                <div class="col-6 md:col-8 pt-1">
                  <InputText v-model="form.exchangeRate" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Payment Term</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                </div>
                <div class="col-6 md:col-2">
                  <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Due Date</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.dueDate" disabled="true" />
                  </div>
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" />
                </div>
              </div>
              <div class="field grid" style="visibility: hidden;">
                <label class="col-12 mb-2 md:col-4">SalesPerson</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.salesPersonCode" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.billToCode" disabled="true" />
                </div>
              </div>
            </div>
          </div>
        </Panel>
        <!-- grid dln dan cdp -->
        <div class="grid">
          <div class="cols-6 md:col-4">
            <DataTable
              showGridlines
              columnResizeMode="expand"
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              selectionMode="single"
              class="col-12 md:col-12 py-1 editable-cells-table"
              :resizableColumns="true"
              :value="detailDln"
              :loading="loadingDlnDetails"
            >
              <template #header>
                <div class="table-header">
                  <label style="font-weight: bold">Delivery Note Detail</label>
                </div>
              </template>
              <Column header="No" style="width: 1rem"
                ><template #body="{ index }">{{ index + 1 }}</template></Column
              >
              <Column field="code" style="white-space: nowrap; width: 1rem" :hidden="true">
                <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
              </Column>
              <Column field="deliveryNoteCode" header="DLN No" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            </DataTable>
          </div>
          <div class="cols-6 md:col-8">
            <DataTable
              showGridlines
              columnResizeMode="expand"
              responsiveLayout="scroll"
              dataKey="id"
              scrollHeight="400px"
              selectionMode="single"
              class="col-12 md:col-12 py-1 editable-cells-table"
              :resizableColumns="true"
              editMode="cell"
              :value="detailCdp"
              :loading="loadingCdpDetails"
              @cell-edit-complete="onCellEditComplete"
            >
              <template #header>
                <div class="table-header">
                  <label style="font-weight: bold">Customer Down Payment Detail</label>
                </div>
              </template>
              <Column header="No" style="width: 3rem"
                ><template #body="{ index }">{{ index + 1 }}</template></Column
              >
              <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
                <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
              </Column>
              <Column field="customerDownPaymentCode" header="CDP-U No" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap; width: 15rem"></Column>
              <Column field="cdpAmount" header="CDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
                ><template #body="slotProps">{{ decimalCurrency(slotProps.data.cdpAmount) }}</template>
              </Column>
              <Column field="usedAmount" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
                ><template #body="slotProps">{{ decimalCurrency(slotProps.data.usedAmount) }}</template>
              </Column>
              <Column field="balancedAmount" header="Balance" style="white-space: nowrap; width: 10rem; text-align: right"
                ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balancedAmount) }}</template>
              </Column>
              <Column field="appliedAmount" header="Applied" style="white-space: nowrap; min-width: 10rem; text-align: right">
                <template #body="slotProps">
                  <span :style="{ 'color:red;': slotProps.data.appliedAmount < 1 }">{{ decimalCurrency(slotProps.data.appliedAmount) }}</span>
                </template>
                <template #editor="{ data, field, index }">
                  <InputText
                    v-model="data[field]"
                    @keypress="onCellEditInit(data, field, index)"
                    @keyup="onCellEditInit(data, field, index)"
                    @keydown="onCellEditInit(data, field, index)"
                    @change="onCellEditInit(data, field, index)"
                    style="text-align: right"
                    :disabled="this.customerDownPaymentCode == null"
                  />
                </template>
              </Column>
            </DataTable>
          </div>
        </div>
        <!-- grid dln n cdp -->
        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="code"
          scrollHeight="400px"
          selectionMode="single"
          class="col-12 md:col-12 py-1 editable-cells-table"
          :resizableColumns="true"
          :value="detail"
          :loading="loadingDetails"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">Item Detail</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="deliveryNoteSalesOrderDetailCode" header="deliveryNoteSalesOrderDetailCode" :hidden="true" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="quantity" header="SO Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
          </Column>
          <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="price" header="Price" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.price) }}</template>
          </Column>
          <Column field="discountTypeCode" header="Discount Code" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="discountTypeName" header="Discount Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="discountAmount" header="Discount Amount" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.discountAmount) }}</template>
          </Column>
          <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
          </Column>
          <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
          </Column>
        </DataTable>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 m-0 p-0">
            <div class="field grid">
              <Divider />
              <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
              <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(totalTransactionAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right" /></div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Type</label>
              <div class="col-1 md:col-1 m-0 p-0 px-1"><InputText v-model="discountTypeCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
              <div class="col-2 md:col-1 m-0 p-0 px-1">
                <InputText v-model="discountTypeName" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
              </div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Amount</label>
              <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(discountAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Down Payment</label>
              <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(downPaymentAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
              <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(taxBaseAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
              <div class="col-1 md:col-1 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(vatPercent)" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
              <div class="col-2 md:col-1 m-0 p-0 px-1">
                <InputNumber :value="decimalCurrency(vatAmount)" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
              </div>
            </div>
            <div class="field grid">
              <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
              <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
              <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(grandTotalAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
            </div>
          </div>
        </div>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';

export default {
  components: {
    DynamicDialog,
  },

  data: () => ({
    sales: new SalesControllers(),
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    selectedRows: false,
    loadingDetails: false,
    loadingDlnDetails: false,
    loadingCDPDetails: false,
    totalTransactionAmount: 0,
    grandTotalAmount: 0,
    discountTypeCode: '',
    discountTypeName: '',
    downPaymentAmount: 0,
    discountAmount: 0,
    taxBaseAmount: 0,
    vatPercent: 0,
    vatAmount: 0,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      dueDate: store.state.currentDate,
    },
    detailDln: [],
    detailCdp: [],
    detail: [
      {
        quantity: 0,
        price: 0,
        discountAmount: 0,
        nettPrice: 0,
        totalAmount: 0,
      },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.sales.dataSales('un-assign-delivery-note-sales-order', { code: data });
      this.form = temp.data;
      this.discountTypeCode = temp.data.discountTypeCode;
      this.discountTypeName = temp.data.discountTypeName;
      this.vatPercent = temp.data.vatPercent;
      this.vatAmount = temp.data.vatAmount;
      this.getListCdpDetail(this.form.salesOrderCode);
      this.getListDlnDetail(this.form.code);
      this.getListDetail(this.form.code);
      this.getDiscountType();
    },
    async getListDlnDetail(data) {
      this.detailDln = [];
      this.loadingDlnDetails = true;
      const field = {
        code: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('un-assign-delivery-note-sales-order/dln', field);
      this.loadingDlnDetails = false;
      return (this.detailDln = temp.data);
    },
    async getListCdpDetail(data) {
      this.detailCdp = [];
      this.loadingCdpDetails = true;
      const field = {
        code: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('un-assign-delivery-note-sales-order/cdp', field);
      this.loadingCdpDetails = false;
      if (temp.data == null) {
        this.detailCdp = [
          {
            code: '',
            customerDownPaymentCode: '',
            transactionDate: '',
            currencyCode: '',
            exchangeRate: '',
            cdpAmount: 0,
            usedAmount: 0,
            balancedAmount: 0,
            appliedAmount: 0,
          },
        ];
      } else {
        return (this.detailCdp = temp.data);
      }
    },
    async getListDetail(data) {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        code: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('un-assign-delivery-note-sales-order/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      this.detail = temp.data;
      if (data.quantity !== 0) {
        this.getDiscountType();
        this.calculationSummary();
      }

      return (this.detail = temp.data);
    },
    async getDiscountType() {
      let temp = null;
      temp = await this.master.dataMaster('discount-type', { code: this.discountTypeCode });
      if (temp) {
        let totalTrancation = this.totalTransactionAmount;
        let discountAmount01 = 0,
          discountAmount02 = 0,
          discountAmount03 = 0,
          discountAmount04 = 0,
          discountAmount05 = 0,
          discountAmount06 = 0,
          discountAmount07 = 0,
          discountAmount08 = 0,
          discountAmount09 = 0,
          discountAmount10 = 0;

        discountAmount01 = (totalTrancation * temp.data.discountPercent01) / 100;
        discountAmount02 = (totalTrancation * temp.data.discountPercent02) / 100;
        discountAmount03 = (totalTrancation * temp.data.discountPercent03) / 100;
        discountAmount04 = (totalTrancation * temp.data.discountPercent04) / 100;
        discountAmount05 = (totalTrancation * temp.data.discountPercent05) / 100;
        discountAmount06 = (totalTrancation * temp.data.discountPercent06) / 100;
        discountAmount07 = (totalTrancation * temp.data.discountPercent07) / 100;
        discountAmount08 = (totalTrancation * temp.data.discountPercent08) / 100;
        discountAmount09 = (totalTrancation * temp.data.discountPercent09) / 100;
        discountAmount10 = (totalTrancation * temp.data.discountPercent10) / 100;

        this.discountAmount = discountAmount01 + discountAmount02 + discountAmount03 + discountAmount04 + discountAmount05 + discountAmount06 + discountAmount07 + discountAmount08 + discountAmount09 + discountAmount10;
        this.calculationSummary();
      }
    },
    calculationSummary() {
      this.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.totalTransactionAmount += datas.totalAmount;
      });
      this.taxBaseAmount = this.totalTransactionAmount - this.discountAmount;
      this.vatAmount = (this.vatPercent * this.taxBaseAmount) / 100;
      this.grandTotalAmount = this.taxBaseAmount + this.vatAmount;
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;

      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.dueDate = moment(this.form.dueDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        if (this.submitted) {
          await this.sales.saveSales('un-assign-delivery-note-sales-order', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            salesOrderCode: this.form.salesOrderCode,
            branchCode: this.form.branchCode,
            salesPersonCode: this.form.salesPersonCode,
            customerCode: this.form.customerCode,
            billToCode: this.form.billToCode,
            currencyCode: this.form.currencyCode,
            exchangeRate: this.form.exchangeRate,
            paymentTermCode: this.form.paymentTermCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            totalTransactionAmount: this.totalTransactionAmount,
            discountCode: this.discountTypeCode,
            downPaymentAmount: this.downPaymentAmount,
            discountAmount: this.discountAmount,
            taxBaseAmount: this.taxBaseAmount,
            vatPercent: this.vatPercent,
            vatAmount: this.vatAmount,
            grandTotalAmount: this.grandTotalAmount,
            listCustomerInvoiceSalesOrderDeliveryNote: this.detailDln.map((item) => {
              return {
                deliveryNoteCode: item.deliveryNoteCode,
              };
            }),
            listCustomerInvoiceSalesOrderDownPayment: this.detailCdp.map((cdp) => {
              return {
                customerDownPaymentCode: cdp.customerDownPaymentCode,
                amount: cdp.appliedAmount,
              };
            }),
            listCustomerInvoiceSalesOrderItemDetail: this.detail.map((item) => {
              return {
                deliveryNoteSalesOrderDetailCode: item.deliveryNoteSalesOrderDetailCode,
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                quantity: item.quantity,
                price: item.price,
                discountCode: item.discountTypeCode,
                discountAmount: item.discountAmount,
                nettPrice: item.nettPrice,
                totalAmount: item.totalAmount,
              };
            }),
          });
        }
        this.cancel();
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'appliedAmount':
          data['appliedAmount'] = this.detailCdp[index].appliedAmount;
          break;
        default:
          break;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>