<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-8">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Division</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2">Department</label>
						<div class="col-6 md:col-5">
							<div class="p-inputgroup">
								<InputText v-model="form.departmentCode" placeholder="Enter Department"  @change="searchChange('department')"  :class="{'p-invalid': isError && form.departmentCode != ''}"/>
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('department')"/>
								<small class="p-invalid mt-3" v-if="isError && !form.departmentCode">Code is required.</small>
							</div>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.departmentName" placeholder="Department name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
						<div class="col-12 md:col-10">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
						<div class="col-12 md:col-10">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-2 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster'

export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: null,
			name: null,
			departmentCode: null,
			departmentName: null,
			remark: null,
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('division',{code: data});
			this.form = temp.data;
		},
		async submit() {
			let BreakException = [];
			this.isError = false;
			
			if (this.form.departmentCode == '' || this.form.departmentCode == null) {
				this.isError = true;
				this.$toast.add({ severity: 'warn', summary: " Department Code can't be null!", life: 3000 });
				throw BreakException;
			}

			if (!this.isError) {
				let formSubmit = this.form;

				if (this.submitted) {
					await this.master.updateMaster('division', formSubmit);
					this.cancel();
				} else {
					await this.master.saveMaster('division', formSubmit);
				this.cancel();
				}
			}
		},
		cancel() {
			history.back();
		},
		async searchChange(master){
			let data = null;
			switch (master) {
				case "department":
				data = await this.master.dataMaster(master, {code:this.form.departmentCode});
				this.form.departmentCode = data.data.code;
				this.form.departmentName = data.data.name;
				break;
			}
		},
		lookUpMaster(master){
			switch (master) {
        case 'department':
			this.$dialog.open(LookupMaster, {
				props: { header: 'Search Master Department', modal: true },
				data: { module: 'department' },
				onClose: (options) => {
					const data = options.data;
					if (data) {
						this.form.departmentCode = data.code;
						this.form.departmentName = data.name;
					}
				},
			});
			break;

			default:
			break;
			}
		},
	}
}
</script>
