<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Sales Order</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-4 p-1 m-0"><Button label="New" icon="pi pi-plus" class="p-button-secondary text-center" @click="createData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Update" icon="pi pi-pencil" class="p-button-secondary text-center" @click="updateData" /></div>
              <div class="col-4 p-1 m-0"><Button label="Delete" icon="pi pi-trash" class="p-button-secondary text-center" @click="confirmDelete" /></div>
            </template>
            <template v-slot:end>
              <div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="printData" /></div>
              <div class="col-4 p-1 m-0"><FileUpload mode="basic" accept="xlsx/*" :maxFileSize="1000000" label="Import" chooseLabel="Import" class="p-button-warning text-center" /></div>
              <div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-upload" class="p-button-warning text-center" /></div>
            </template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">SO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Sales Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Customer</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchCustomerCode" placeholder=" Customer Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchCustomerName" placeholder=" Customer Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Approval</label>
                    <div class="col-12 md:col-8 m-0 p-1">
                      <Dropdown v-model="btnApprovalStatus" :options="btnApprovalStatusList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Closing</label>
                    <div class="col-12 md:col-8 m-0 p-1">
                      <Dropdown v-model="btnClosingStatus" :options="btnClosingStatusList" optionLabel="name" optionValue="code" placeholder="Select CLosing" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="md:col-3 mt-2 m-0 p-1" />
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-12 md:col-5 m-0 p-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                    <div class="col-12 md:col-7 m-0 p-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0 py-1" style="justify-content: right">
                  <div class="col-6 md:col-3 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 10em">
                <template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template>
              </Column>
              <Column field="code" header="Sales Order Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 10em" :sortable="true"></Column>
              <Column field="customerCode" header="Customer Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="customerName" header="Customer Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="salesPersonCode" header="Sales Person Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="salesPersonName" header="Sales Person Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="min-width: 10em" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 10em" :sortable="true"></Column>
              <Column field="approvalStatus" header="Approval Status" style="min-width: 12em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="closingStatus" header="Closing Status" style="min-width: 10em; display: flex; justify-content: center" :sortable="true"></Column>
              <Column field="totalTransactionAmount" header="totalTransactionAmount" style="min-width: 12em"></Column>
              <Column field="discountTypeCode" header="discountTypeCode" style="min-width: 12em"></Column>
              <Column field="discountTypeName" header="discountTypeName" style="min-width: 12em"></Column>
              <Column field="discountAmount" header="discountAmount" style="min-width: 12em"></Column>
              <Column field="vatPercent" header="vatPercent" style="min-width: 12em"></Column>
              <Column field="vatAmount" header="vatAmount" style="min-width: 12em"></Column>
              <Column field="grandTotalAmount" header="grandTotalAmount" style="min-width: 12em"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <div class="col-12 m-0 p-0">
              <label class="col-12 md:col-12 m-0 p-0 pl-3" style="font-weight: bold">Headercode: {{ code }}</label>
            </div>
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <Column field="Index" header="No" style="max-width: 60px"
                ><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column
              >
              <Column field="itemCode" header="Item Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="catalogNo" header="Catalog No" style="min-width: 12em"></Column>
              <Column field="itemAlias" header="Item Alias" style="min-width: 12em"></Column>
              <Column field="remark" header="Remark" style="min-width: 12em"></Column>
              <Column field="quantity" header="Quantity" style="min-width: 12em"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="min-width: 12em"></Column>
              <Column field="price" header="Price" style="min-width: 12em"></Column>
              <Column field="discountTypeCode" header="Discount Code" style="min-width: 12em"></Column>
              <Column field="discountTypeName" header="Discount Name" style="min-width: 12em"></Column>
              <Column field="discountAmount" header="Discount Amount" style="min-width: 12em"></Column>
              <Column field="nettPrice" header="Nett Price" style="min-width: 12em"></Column>
              <Column field="totalAmount" header="Total" style="min-width: 12em; display: flex; justify-content: right"></Column>
            </DataTable>
          </div>
          <div class="grid col-12 md:col-12 m-0 p-0">
            <div class="col-12 m-0 p-0">
              <div class="field grid">
                <h4 class="col-12 pt-3 md:p-0 p-0 m-0" style="text-align: right">Summary</h4>
                <Divider />
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(totalTransactionAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Type</label>
                <div class="col-1 md:col-1 m-0 p-0 px-1"><InputText v-model="discountTypeCode" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                <div class="col-2 md:col-1 m-0 p-0 px-1">
                  <InputText v-model="discountTypeName" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(discountAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-6 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-10 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Vat</label>
                <div class="col-1 md:col-1 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(vatPercent)" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" /></div>
                <div class="col-2 md:col-1 m-0 p-0 px-1">
                  <InputNumber :value="decimalCurrency(vatAmount)" minFractionDigits="0" class="p-inputtext-sm" inputStyle="text-align: right;" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <div class="col-6 md:col-8 m-0 p-0 px-1"></div>
                <label class="col-3 md:col-2 m-0 p-0 px-1" style="text-align: right; font-weight: bold">Grand Total</label>
                <div class="col-3 md:col-2 m-0 p-0 px-1"><InputNumber :value="decimalCurrency(grandTotalAmount)" class="p-inputtext-sm" disabled="true" inputStyle="text-align: right;" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Dialog header="Confirmation" v-model:visible="isdelete" :style="{ width: '350px' }" :modal="true">
    <div class="confirmation-content">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
      <span>Are you sure you want to delete {{ code }}?</span>
    </div>
    <template #footer>
      <Button label="No" icon="pi pi-times" @click="isdelete = false" class="p-button-text" />
      <Button label="Yes" icon="pi pi-check" @click="deleteData" class="p-button-text" autofocus />
    </template>
  </Dialog>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull, decimalCurrency, removeCommas } from '@/utils/function';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import moment from 'moment';

export default {
  data: () => ({
    sales: new SalesControllers(),
    code: null,
    btnApprovalStatus: 'All',
    btnApprovalStatusList: [
    { name: 'All', code: 'All' },
      { name: 'Pending', code: 'PENDING' },
      { name: 'Approved', code: 'APPROVED' },
      { name: 'Rejected', code: 'REJECTED' },
    ],
    btnClosingStatus: 'All',
    btnClosingStatusList: [
      { name: 'All', code: 'All' },
      { name: 'Open', code: 'OPEN' },
      { name: 'Closed', code: 'CLOSED' },
    ],
    list: [],
    listDetail: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchCustomerCode: '',
    searchCustomerName: '',
    searchRefNo: '',
    searchRemark: '',
    approvalStatus: 'ALL',
    closingStatus: 'ALL',
    totalTransactionAmount: 0,
    discountTypeCode: '',
    discountTypeName: '',
    discountAmount: 0,
    taxBaseAmount: 0,
    vatPercent: 0,
    vatAmount: 0,
    grandTotalAmount: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    isdelete: false,

    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        customerCode: this.searchCustomerCode,
        customerName: this.searchCustomerName,
        transactionStartDate: moment(this.transactionStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        transactionEndDate: moment(this.transactionEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD'),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        approvalStatus: this.btnApprovalStatus,
        closingStatus: this.btnClosingStatus,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('sales-order', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;

      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.sales.searchSales('sales-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    createData() {
      this.$router.push({ path: '/sales/sales-order/form' });
    },
    updateData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/sales/sales-order/form', query: param });
    },
    confirmDelete() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      this.isdelete = true;
    },
    async deleteData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      await this.sales.deleteSales('sales-order', param);
      this.$toast.add({ severity: 'success', summary: 'Data success delete', life: 3000 });
      this.isdelete = false;
      this.getList();
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.totalTransactionAmount = event.data.totalTransactionAmount;
        this.discountTypeCode = event.data.discountTypeCode;
        this.discountTypeName = event.data.discountTypeName;
        this.discountAmount = event.data.discountAmount;
        this.taxBaseAmount = event.data.taxBaseAmount;
        this.vatPercent = event.data.vatPercent;
        this.vatAmount = event.data.vatAmount;
        this.grandTotalAmount = event.data.grandTotalAmount;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
