<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-10">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Branch</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Code*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Name*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Address*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.address" placeholder="Enter address"/>
							<small class="p-invalid" v-if="submitted && !form.address">Address is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3">City*</label>
						<div class="col-6 md:col-4">
							<div class="p-inputgroup">
								<InputText v-model="form.cityCode" placeholder="Enter City"  @change="searchChange('city')"  :class="{'p-invalid': isError && form.cityCode != ''}"/>
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('city')"/>
							</div>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.cityName" placeholder="city name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3">Country</label>
						<div class="col-6 md:col-4">
							<InputText v-model="form.countryCode" placeholder="Country code" disabled="true"/>
						</div>
						<div class="col-6 md:col-5">
							<InputText v-model="form.countryName" placeholder="Country name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Zip Code*</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.zipCode" placeholder="Enter Zip Code"/>
							<small class="p-invalid" v-if="submitted && !form.zipCode">Zip Code is required.</small>
						</div>
					</div>
					<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Phone1*</label>
								<div class="col-12 md:col-4">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.phone1" placeholder="Enter Phone1" />
										<small class="p-invalid" v-if="submitted && !form.phone1">Phone1 is required.</small>
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.phone2" placeholder="Enter Phone 2" />
								</div>
							</div>
						<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Email Address</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.emailAddress" placeholder="Enter Email Address"/>
							<small class="p-invalid" v-if="submitted && !form.emailAddress">Email Address is required.</small>
						</div>
					</div>
						<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Contact Person</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.contactPerson" placeholder="Enter Contact Person"/>
							<small class="p-invalid" v-if="submitted && !form.contactPerson">Contact Person is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
						<div class="col-12 md:col-9">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
						<div class="col-12 md:col-9">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-3 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import Lookupcity from '@/components/lookup/master/LookupCity'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			remark: "",
			address: "",
			zipCode: "",
			phone1: "",
			phone2: "",
			emailAddress: "",
			contactPerson: "",
			activeStatus: true,
			cityCode: null,
			cityName: null,
			countryCode: null,
			countryName: null,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('branch',{code:data});
			this.form = temp.data;
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(this.submitted){
				await this.master.updateMaster('branch', this.form);
			}else{
				await this.master.saveMaster('branch', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
		async searchChange(master){
			let data = null;
			switch (master) {
				case "city":
				data = await this.master.dataMaster(master, {code:this.form.cityCode});
				this.form.cityCode = data.data.code;
				this.form.cityName = data.data.name;
				break
				default:
				break
			}
		},
		lookUpMaster(master){
			switch (master) {
				case "city":
				this.$dialog.open(Lookupcity, {
					props: { header: 'Search city',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.cityCode = data.code;
							this.form.cityName = data.name;
							this.form.countryCode = data.countryCode;
							this.form.countryName = data.countryName;
						}
					}
				});
				break
				default:
				break
			}
		},
	}
}
</script>
