<template>
	<div class="grid p-fluid">
		<div class="col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Role Authorization</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Code</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
						<div class="col-12 md:col-10">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Remark</label>
						<div class="col-12 md:col-10">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-2 md:mb-0">Active Status</label>
						<div class="col-12 md:col-10">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-2 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
				<br>
				<div class="p-fluid grid">
					<div class="col-12 pt-1 mt-1">
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="detail"
							:loading="loadingDetails"
							@cell-edit-complete="onCellEditComplete"
							>
							<Column header="#" style="width: 2rem">
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
							<Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
							<Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
								<template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
							</Column>
							<Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
							<Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
							<Column field="itemNa	me" header="save" style="white-space: nowrap; width: 15rem">
								<template #header><Checkbox v-model="form.activeStatus" :binary="true" />&nbsp;&nbsp;</template>
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
							<Column field="itemName" header="update" style="white-space: nowrap; width: 15rem">
								<template #header><Checkbox v-model="form.activeStatus" :binary="true" />&nbsp;&nbsp;</template>
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
							<Column field="itemName" header="delete" style="white-space: nowrap; width: 15rem">
								<template #header><Checkbox v-model="form.activeStatus" :binary="true" />&nbsp;&nbsp;</template>
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
							<Column field="itemName" header="print" style="white-space: nowrap; width: 15rem">
								<template #header><Checkbox v-model="form.activeStatus" :binary="true" />&nbsp;&nbsp;</template>
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
						</DataTable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<script>
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			remark: "",
			activeStatus: true,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('bank', {code: data});
			this.form = temp.data;
		},
		async submit() {
			if(this.submitted){
				await this.master.updateMaster('bank', this.form);
			}else{
				await this.master.saveMaster('bank', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
	}
}
</script>
