<template>
	<div class="grid p-fluid">
		<div class="col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">User</div>
					</div>
				</div>
				<form class="col-12 md:col-7">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Full Name</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">username</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.username" placeholder="Enter username"/>
							<small class="p-invalid" v-if="submitted && !form.username">Username is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">password</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.password" placeholder="Enter password"/>
							<small class="p-invalid" v-if="submitted && !form.password">Password is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Re-Password</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.repassword" placeholder="Enter password"/>
							<small class="p-invalid" v-if="submitted && !form.repassword">Password not match.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4">Role</label>
						<div class="col-6 md:col-4">
							<div class="p-inputgroup">
								<InputText v-model="form.roleCode" placeholder="Enter role" @change="searchChange('role')" :class="{ 'p-invalid': isError && form.roleName != '' }" />
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('role')" />
							</div>
						</div>
						<div class="col-6 md:col-4">
							<InputText v-model="form.roleName" placeholder="role name" disabled="true" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4">Employee</label>
						<div class="col-6 md:col-4">
							<div class="p-inputgroup">
								<InputText v-model="form.employeeCode" placeholder="Enter employee" @change="searchChange('employee')" :class="{ 'p-invalid': isError && form.employeeName != '' }" />
								<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('employee')" />
							</div>
						</div>
						<div class="col-6 md:col-4">
							<InputText v-model="form.employeeName" placeholder="employee name" disabled="true" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Active Status</label>
						<div class="col-12 md:col-8">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-4 md:mb-0"></div>
						<div class="col-6 md:col-4">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-4">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
				<br>
				<div class="p-fluid grid">
					<div class="col-12 md:col-6 pt-1 mt-1">
						<div class="field grid">
							<label class="col-12 mb-2 md:col-4">Default Branch</label>
							<div class="col-6 md:col-8">
								<div class="login-input">
									<Dropdown v-model="form.itemCode" :options="detail" optionValue="itemCode" optionLabel="itemName" placeholder="Select" />
								</div>
							</div>
						</div>
						<div class="field grid">
							<DataTable
							showGridlines
							columnResizeMode="expand"
							responsiveLayout="scroll"
							dataKey="id"
							scrollHeight="400px"
							class="col-12 md:col-12 py-0 editable-cells-table"
							:resizableColumns="true"
							editMode="cell"
							:value="detail"
							:loading="loadingDetails"
							@cell-edit-complete="onCellEditComplete"
							>
							<template #header>
								<div class="table-header">
									<label style="font-weight: bold">BRANCH</label>
									<Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('branch')" />
								</div>
							</template>
							<Column header="#" style="width: 2rem">
								<template #body="{ index }">
									<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
								</template>
							</Column>
							<Column header="No" style="width: 3rem"
							><template #body="{ index }">{{ index + 1 }}</template></Column
							>
							<Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
								<template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
							</Column>
							<Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
							<Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
						</DataTable>
					</div>
				</div>
				<div class="col-12 md:col-6 pt-1 mt-1">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4">Default Warehouse</label>
						<div class="col-6 md:col-8">
							<div class="login-input">
								<Dropdown v-model="form.year" :options="form.dropdownYears" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
							</div>
						</div>
					</div>
					<div class="field grid">
						<DataTable
						showGridlines
						columnResizeMode="expand"
						responsiveLayout="scroll"
						dataKey="id"
						scrollHeight="400px"
						class="col-12 md:col-12 py-0 editable-cells-table"
						:resizableColumns="true"
						editMode="cell"
						:value="detail"
						:loading="loadingDetails"
						@cell-edit-complete="onCellEditComplete"
						>
						<template #header>
							<div class="table-header">
								<label style="font-weight: bold">WAREHOUSE</label>
								<Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('warehouse')" />
							</div>
						</template>
						<Column header="#" style="width: 2rem">
							<template #body="{ index }">
								<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
							</template>
						</Column>
						<Column header="No" style="width: 3rem"
						><template #body="{ index }">{{ index + 1 }}</template></Column
						>
						<Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
							<template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
						</Column>
						<Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
						<Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
					</DataTable>
				</div>
			</div>
			<div class="col-12 md:col-6 pt-1 mt-1">
				<div class="field grid">
					<label class="col-12 mb-2 md:col-4">Default Cash Account</label>
					<div class="col-6 md:col-8">
						<div class="login-input">
							<Dropdown v-model="form.year" :options="form.dropdownYears" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
						</div>
					</div>
				</div>
				<div class="field grid">
					<DataTable
					showGridlines
					columnResizeMode="expand"
					responsiveLayout="scroll"
					dataKey="id"
					scrollHeight="400px"
					class="col-12 md:col-12 py-0 editable-cells-table"
					:resizableColumns="true"
					editMode="cell"
					:value="detail"
					:loading="loadingDetails"
					@cell-edit-complete="onCellEditComplete"
					>
					<template #header>
						<div class="table-header">
							<label style="font-weight: bold">CASH ACCOUNT</label>
							<Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('cash-account')" />
						</div>
					</template>
					<Column header="#" style="width: 2rem">
						<template #body="{ index }">
							<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
						</template>
					</Column>
					<Column header="No" style="width: 3rem"
					><template #body="{ index }">{{ index + 1 }}</template></Column
					>
					<Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
						<template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
					</Column>
					<Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
					<Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
				</DataTable>
			</div>
		</div>
		<div class="col-12 md:col-6 pt-1 mt-1">
			<div class="field grid">
				<label class="col-12 mb-2 md:col-4">Default Bank Account</label>
				<div class="col-6 md:col-8">
					<div class="login-input">
						<Dropdown v-model="form.year" :options="form.dropdownYears" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
					</div>
				</div>
			</div>
			<div class="field grid">
				<DataTable
				showGridlines
				columnResizeMode="expand"
				responsiveLayout="scroll"
				dataKey="id"
				scrollHeight="400px"
				class="col-12 md:col-12 py-0 editable-cells-table"
				:resizableColumns="true"
				editMode="cell"
				:value="detail"
				:loading="loadingDetails"
				@cell-edit-complete="onCellEditComplete"
				>
				<template #header>
					<div class="table-header">
						<label style="font-weight: bold">BANK ACCOUNT</label>
						<Button icon="pi pi-search" label="Search" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow('bank-account')" />
					</div>
				</template>
				<Column header="#" style="width: 2rem">
					<template #body="{ index }">
						<Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
					</template>
				</Column>
				<Column header="No" style="width: 3rem"
				><template #body="{ index }">{{ index + 1 }}</template></Column
				>
				<Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
					<template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
				</Column>
				<Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
				<Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
			</DataTable>
		</div>
	</div>
</div>
</div>
</div>
</div>
<DynamicDialog />
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupMultiMaster from '@/components/lookup/master/LookupMultiMaster';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			itemCode: "",
			activeStatus: true,
		},
		detail:[],
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		remove(row) {
      this.detail.splice(row.index, 1);
    },
		async searchChange(master) {
			let temp = null;
			switch (master) {
				case 'role':
				temp = await this.master.dataMaster(master, { code: this.form.roleCode });
				if (temp) {
					this.form.roleCode = temp.data.code;
					this.form.roleName = temp.data.name;
				} else {
					this.form.roleCode = null;
					this.form.roleName = null;
				}
				break;
				case 'employee':
				temp = await this.master.dataMaster(master, { code: this.form.employeeCode });
				if (temp) {
					this.form.employeeCode = temp.data.code;
					this.form.employeeName = temp.data.name;
				} else {
					this.form.employeeCode = null;
					this.form.employeeName = null;
				}
				break;
				default:
				break;
			}
		},
		lookUpMaster(master) {
			switch (master) {
				case 'role':
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search Master Role', modal: true },
					data: { module: 'role' },
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.roleCode = data.code;
							this.form.roleName = data.name;
						}
					},
				});
				break;
				case 'employee':
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search Master Employee', modal: true },
					data: { module: 'employee' },
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.employeeCode = data.code;
							this.form.employeeName = data.name;
						}
					},
				});
				break;
				default:
				break;
			}
		},
		lookupAddRow(modules) {
			switch (modules) {
				case 'branch':
					this.$dialog.open(LookupMultiMaster, {
						props: { header: 'Search Branch', modal: true },
						data: { module: 'item' },
						onClose: (options) => {
							const data = options.data;
							if (data) {
								data.forEach((datas) => {
									let detail = {
										code: '',
										itemCode: datas.code,
										itemName: datas.name,
									};
									this.detail.push(detail);
								});
							}
						},
					});
				break;
				case 'warehouse':
					this.$dialog.open(LookupMultiMaster, {
						props: { header: 'Search Warehouse', modal: true },
						data: { module: 'item' },
						onClose: (options) => {
							const data = options.data;
							if (data) {
								data.forEach((datas) => {
									let detail = {
										code: '',
										itemCode: datas.code,
										itemName: datas.name,
									};
									this.detail.push(detail);
								});
							}
						},
					});
				break;
				default:
				break;
			}
		},
		async getData(data) {
			let temp = await this.master.dataMaster('bank', {code: data});
			this.form = temp.data;
		},
		async submit() {
			if(this.submitted){
				await this.master.updateMaster('bank', this.form);
			}else{
				await this.master.saveMaster('bank', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
	}
}
</script>
