<template>
	<div class="layout-footer">
		<div>
			<p>ERP powered by @INKOMBIZZ</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: "AppFooter"
	}
</script>

<style scoped>

</style>
