<template>
	<AppSubmenu class="layout-menu" :items="menu" :layoutMode="layoutMode" :menuActive="active" :mobileMenuActive="mobileMenuActive" :root="true" :parentMenuItemActive="true"/>
</template>

<script>
import AppSubmenu from '@/components/setup/AppSubmenu';
import EventBus from '@/setting/event-bus';

export default {
	data: () => ({
		menu: [{label: "Menu Not Found", icon: "pi pi-fw pi-home"}],
	}),
	props: {
		model: Array,
		layoutMode: String,
		active: Boolean,
		mobileMenuActive: Boolean
	},
	mounted() {
		EventBus.on('show-menu-panel', () => {
			this.loadMenu();
		});
		this.loadMenu();
		this.$forceUpdate();
	},
	methods: {
		loadMenu(){
			if(localStorage["menus"]){
				this.menu = [{label: "Menus", icon: "pi pi-fw pi-home", items:JSON.parse(localStorage["menus"])}];
			}
		},
	},
	components: {
		'AppSubmenu': AppSubmenu
	},
}
</script>
