<template>
	<div class="layout-topbar">
		<button class="p-link layout-menu-button layout-topbar-icon" @click="onMenuButtonClick">
			<i class="pi pi-bars"></i>
		</button>

		<router-link to="/" class="p-link layout-topbar-logo">
			<img id="topbar-logo" src="layout/images/gudangdunia_l.png" style="min-height: 30px;" alt="roma-vue"/>
		</router-link>

		<ul class="topbar-menu">
			<li :class="['user-profile', {'active-topmenuitem fadeInDown': activeTopbarItem === 'profile'}]">
				<button class="p-link" v-if="!this.inlineUser" @click="$emit('topbar-item-click',{originalEvent:$event,item:'profile'})">
					<img src="layout/images/avatar.png" alt="roma-layout"/>
					<div class="layout-profile-userinfo">
						<span class="layout-profile-name">{{ getName() }}</span>
						<span class="layout-profile-role">{{ getEmail() }}</span>
					</div>
				</button>
				<transition name="layout-submenu-container">
					<ul class="fadeInDown" v-show="activeTopbarItem === 'profile'">
						<li role="menuitem">
							<button class="p-link" @click="this.$router.push({path: '/profile'})">
								<i class="pi pi-fw pi-user"></i>
								<span>Profile</span>
							</button>
						</li>
						<li role="menuitem">
							<button class="p-link" @click="this.$router.push({path: '/setting'})">
								<i class="pi pi-fw pi-cog"></i>
								<span>Settings</span>
							</button>
						</li>
						<li role="menuitem">
							<button class="p-link" @click="logout">
								<i class="pi pi-fw pi-sign-out"></i>
								<span>Logout</span>
							</button>
						</li>
					</ul>
				</transition>
			</li>

			<li :class="[{'active-topmenuitem fadeInDown': activeTopbarItem === 'settings'}]">
				<div class="mt-2 field grid">
						<div class="col-6">
							<Dropdown v-model="periodMonth" :options="dataMonth" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Month" />
						</div>
						<div class="col-6">
							<Dropdown v-model="periodYear" :options="dataYear" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
						</div>
				</div>
			</li>
		</ul>
	</div>
</template>
<script>
import EventBus from '@/setting/event-bus';
import { removeAuth, setPeriodMonth, setPeriodYear } from "@/utils/cookies";
import { dataMonths, dataYears } from '@/setting/data';
import { store } from "@/store"
export default {
	emits: ['menubutton-click', 'topbar-menubutton-click', 'topbar-item-click', 'right-menubutton-click'],
	data: () => ({
		periodMonth: store.state.periodMonth,
		periodYear: store.state.periodYear,
	}),
	props: {
		topbarMenuActive: Boolean,
		activeTopbarItem: String,
		inlineUser: Boolean,
	},
	mounted() {
		EventBus.on('setting-panel-login', () => {
			this.periodMonth= store.state.periodMonth;
			this.periodYear= store.state.periodYear;
		});
	},
	computed: {
		dataMonth() {
			return dataMonths;
		},
		dataYear() {
			return dataYears;
		},
	},
	methods: {
		onMenuButtonClick(event) {
			this.$emit('menubutton-click', event);
		},
		logout() {
			store.state.token=null;
			removeAuth();
			this.$router.push({path: "/login"});
		},
		getName() {
			return store.state.profile.name;
		},
		getEmail() {
			return store.state.profile.email;
		},
		setPeriodMonth(val) {
			store.dispatch("storePeriodMonth", val);
			setPeriodMonth(val);
		},
		setPeriodYear(val) {
			store.dispatch("storePeriodYear", val);
			setPeriodYear(val);
		},
	},
}
</script>
