<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Payment Request" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Request No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Branch *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment To *</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.paymentTo" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 md:col-4">Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="type" value="1" v-model="form.type" />
                      <label for="1">Requler</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="type" value="0" v-model="form.type" />
                      <label for="0">Deposit</label>
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Deposit Type *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.depositTypeCode" placeholder="Enter depositType" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.depositTypeName" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4"></div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.depositType" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Due Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.dueDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Amount</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.amount" placeholder="Amount" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.amount" disabled="true" />
                  </div>
                </div>

                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Status Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.statusRemark" rows="3" cols="20" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>

        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="single"
            v-model:selection="selectedRows"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
            @rowSelect="onRowSelect"
            @rowUnselect="onRowUnselect"
          >
            <template #header>
              <div class="table-header">
                <Button icon="pi pi-search" label="Search Document" class="p-button-sm p-button-warning" style="width: 10rem; margin-right: 85em" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="documentNo" header="Document No" style="white-space: nowrap; width: 15rem"></Column>
            <!-- <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem">
              <template #editor="{ data, field, index }">
                <div class="p-inputgroup">
                  <InputText
                    v-model="data[field]"
                    @keypress="onCellEditInit(data, field, index)"
                    @keyup="onCellEditInit(data, field, index)"
                    @keydown="onCellEditInit(data, field, index)"
                    @change="onCellEditInit(data, field, index)"
                    autofocus
                    style="padding: 0.1rem 0.1rem"
                  />
                  <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" style="padding: 0.1rem 0.1rem" @click="lookUpCatalogDetail(data, field, index)" />
                </div>
              </template>
            </Column> -->
            <Column field="documnetDate" header="Document Date" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="coaCode" header="Chart Of Account Code" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="itemCode" header="Chart Of Account Name" style="white-space: nowrap; width: 15rem"></Column>
            <!-- <Column field="quantity" header="Currency" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText
                  v-model="data[field]"
                  @keypress="onCellEditInit(data, field, index)"
                  @keyup="onCellEditInit(data, field, index)"
                  @keydown="onCellEditInit(data, field, index)"
                  @change="onCellEditInit(data, field, index)"
                  style="text-align: right"
                />
              </template>
            </Column> -->
            <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="exchangeRate" header=" Exchange Rate" style="white-space: nowrap; min-width: 10rem; text-align: right"></Column>
            <Column field="amount" header="Amount(Foreign)" style="white-space: nowrap; min-width: 10rem; text-align: right"> </Column>
            <Column field="balance" header="Balance(Foreign)" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="debit" header="Debit(Foreign)" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="credit" header="Credit(Foreign)" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="remark" header="Remark(Foreign)" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0" style="justify-content: right">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.discountTypeCode" placeholder="Enter Discount Type" @change="searchChange('discount-type')" :class="{ 'p-invalid': isError && form.discountTypeCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('discount-type')" />
                    </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.discountTypeName" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount Amount</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.discountAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseAmount)" locale="id-ID" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4"><InputText v-model="form.vatPercent" :value="decimalCurrency(form.vatPercent)" style="text-align: right" @change="onChangeVatPercent()" /></div>
                  <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" style="text-align: right" disabled="true" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" style="text-align: right" disabled="true" /></div>
                </div>
              </div>
            </div>
          </BlockUI>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
// import LookUpItem from '@/components/lookup/master/LookUpItem';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookUpCatalog from '@/components/lookup/master/LookUpCatalog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import LookUpSearchDocument from '@/components/lookup/finance/LookUpSearchDocument';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookUpPaymentTerm from '@/components/lookup/master/LookUpPaymentTerm';
import LookUpDiscountType from '@/components/lookup/master/LookUpDiscountType';
// import LookUpCustomerAddress from '@/components/lookup/master/LookUpCustomerAddress';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingArDetails: false,
    loadingDetails: false,
    loadingStockDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      paymentTo: null,
      type: '1',
      depositTypeCode: null,
      paymentTermCode: null,
      dueDate: store.state.currentDate,
      currencyCode: null,
      amount: null,
      refNo: null,
      remark: null,
      statusRemark: null,
    },
    vatDivision: store.state.defaultVatDivision,
    arDetail: [],
    detail: [
      {
        discountAmount: 0,
        nettPrice: 0,
        subsidyPrice: 0,
        totalAmount: 0,
      },
    ],
    detailStock: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getOutstandingAR(this.form.customerCode);
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (!this.form.branchName) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Branch can't be empty!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.paymentTo) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment To can't be empty!", life: 3000 });
          throw BreakException;
        }
        // if (!this.form.depositTypeName) {
        //   this.isConfirm = false;
        //   this.$toast.add({ severity: 'warn', summary: "Deposit Type can't be empty!", life: 3000 });
        //   throw BreakException;
        // }
        if (!this.form.paymentTermName) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Payment Term can't be null!", life: 3000 });
          throw BreakException;
        }
        if (!this.form.currencyName) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Currency can't be null!", life: 3000 });
          throw BreakException;
        }

        if (this.isConfirm == false) {
          this.arDetail = [];
          this.detail = [];
          this.detailStock = [];
        } else {
          this.getOutstandingAR(this.form.customerCode);
          this.getListDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getOutstandingAR(data) {
      this.arDetail = [];
      this.loadingArDetails = true;
      const field = {
        customerCode: data,
        page: 0,
        size: 1000,
        sort: 'documentCode,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/outstanding-ar', field);
      this.loadingArDetails = false;
      return (this.arDetail = temp.data);
    },

    lookupAddRow() {
      this.$dialog.open(LookUpSearchDocument, {
        props: { header: 'Search Document', style: { width: '90vw' }, modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                price: 0,
                subsidyPrice: 0,
                quantity: 0,
                unitOfMeasureCode: datas.unitOfMeasureCode,
                discountAmount: 0,
                nettPrice: 0,
                totalAmount: 0,
              };
              this.detail.push(detail);
            });
          }
        },
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.form.totalTransactionAmount = 0;
      this.form.discountTypeCode = '';
      this.form.discountTypeName = '';
      this.form.discountAmount = 0;
      this.form.taxBaseAmount = 0;
      this.form.vatPercent = 0;
      this.form.vatAmount = 0;
      this.form.grandTotalAmount = 0;
      this.calculateDiscount(0);
      this.calculationSummary();
    },
    async getData(data) {
      let temp = await this.sales.dataSales('sales-order', { code: data });
      this.form = temp.data;
      this.form.customerCode = temp.data.customerCode;
      this.form.type = temp.data.type === 1 ? '1' : '0';
      this.form.npwpStatus = temp.data.npwpStatus === 1 ? '1' : '0';
      this.getOutstandingAR(this.form.customerCode);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        code: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    onRowSelect(event) {
      if (this.itemCode != event.data.itemCode) {
        this.itemCode = event.data.itemCode;
        this.getListStockDetail(this.itemCode);
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.detailStock = [];
      return event;
    },
    async getListStockDetail(data) {
      this.detailStock = [];
      this.loadingStockDetails = true;
      const field = {
        code: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('sales-order/stock-per-item', field);
      this.loadingStockDetails = false;
      return (this.detailStock = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.requestDeliveryDate = moment(this.form.requestDeliveryDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.expiredDate = moment(this.form.expiredDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.type = this.form.type === '1' ? true : false;
        //Add Grid Detail
        // formSubmit.listSalesOrderDetail = this.detail;
        if (this.submitted) {
          // await this.sales.updateSales('sales-order', formSubmit);
          await this.sales.updateSales('sales-order', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            requestDeliveryDate: formSubmit.requestDeliveryDate,
            expiredDate: formSubmit.expiredDate,
            branchCode: this.form.branchCode,
            currencyCode: this.form.currencyCode,
            customerPurchaseOrderNo: this.form.customerPurchaseOrderNo,
            salesOrderLinkCode: this.form.salesOrderLinkCode,
            salesPersonCode: this.form.salesPersonCode,
            paymentTermCode: this.form.paymentTermCode,
            type: formSubmit.type,
            customerCode: this.form.customerCode,
            priceTypeCode: this.form.priceTypeCode,
            billToCode: this.form.billToCode,
            shipToCode: this.form.shipToCode,
            projectCode: this.form.projectCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            totalTransactionAmount: this.form.totalTransactionAmount,
            discountTypeCode: this.form.discountTypeCode,
            discountAmount: this.form.discountAmount,
            taxBaseAmount: this.form.taxBaseAmount,
            vatPercent: this.form.vatPercent,
            vatAmount: this.form.vatAmount,
            grandTotalAmount: this.form.grandTotalAmount,
            listSalesOrderDetail: this.detail.map((item) => {
              return {
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                catalogNo: item.catalogNo,
                remark: item.remark,
                quantity: item.quantity,
                price: item.price,
                discountTypeCode: item.discountTypeCode,
                discountAmount: item.discountAmount,
                nettPrice: item.nettPrice,
                totalAmount: item.totalAmount,
              };
            }),
          });
        } else {
          // await this.sales.saveSales('sales-order', formSubmit);
          await this.sales.saveSales('sales-order', {
            transactionDate: formSubmit.transactionDate,
            requestDeliveryDate: formSubmit.requestDeliveryDate,
            expiredDate: formSubmit.expiredDate,
            branchCode: this.form.branchCode,
            currencyCode: this.form.currencyCode,
            customerPurchaseOrderNo: this.form.customerPurchaseOrderNo,
            salesOrderLinkCode: this.form.salesOrderLinkCode,
            salesPersonCode: this.form.salesPersonCode,
            paymentTermCode: this.form.paymentTermCode,
            type: formSubmit.type,
            customerCode: this.form.customerCode,
            priceTypeCode: this.form.priceTypeCode,
            billToCode: this.form.billToCode,
            shipToCode: this.form.shipToCode,
            projectCode: this.form.projectCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            totalTransactionAmount: this.form.totalTransactionAmount,
            discountTypeCode: this.form.discountTypeCode,
            discountAmount: this.form.discountAmount,
            taxBaseAmount: this.form.taxBaseAmount,
            vatPercent: this.form.vatPercent,
            vatAmount: this.form.vatAmount,
            grandTotalAmount: this.form.grandTotalAmount,
            listSalesOrderDetail: this.detail.map((item) => {
              return {
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                catalogNo: item.catalogNo,
                remark: item.remark,
                quantity: item.quantity,
                price: item.price,
                discountTypeCode: item.discountTypeCode,
                discountAmount: item.discountAmount,
                nettPrice: item.nettPrice,
                totalAmount: item.totalAmount,
              };
            }),
          });
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, { code: this.form.branchCode });
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'currency':
          temp = await this.master.dataMaster(master, { code: this.form.currencyCode });
          if (temp) {
            this.form.currencyCode = temp.data.code;
            this.form.currencyName = temp.data.name;
          } else {
            this.form.currencyCode = null;
            this.form.currencyName = null;
          }
          break;
        case 'payment-term':
          temp = await this.master.dataMaster(master, { code: this.form.paymentTermCode });
          if (temp) {
            this.form.paymentTermCode = temp.data.code;
            this.form.paymentTermName = temp.data.name;
            this.form.paymentTermDays = temp.data.days;
          } else {
            this.form.paymentTermCode = null;
            this.form.paymentTermName = null;
            this.form.paymentTermDays = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'currency':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Currency', modal: true },
            data: { module: 'currency' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.currencyCode = data.code;
                this.form.currencyName = data.name;
              }
            },
          });
          break;
        case 'payment-term':
          this.$dialog.open(LookUpPaymentTerm, {
            props: { header: 'Search Master Payment Term', modal: true },
            data: { module: 'payment-term' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.paymentTermCode = data.code;
                this.form.paymentTermName = data.name;
                this.form.paymentTermDays = data.days;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpCatalogDetail(data, field, index) {
      this.$dialog.open(LookUpCatalog, {
        props: { header: 'Search Master Catalog', modal: true },
        data: { module: 'item-jn-catalog-number/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].catalogNo = data.code;
          }
        },
      });
    },
    lookUpDiscountTypeDetail(data, field, index) {
      this.$dialog.open(LookUpDiscountType, {
        props: { header: 'Search Master Discount Type', style: { width: '90vw' }, modal: true },
        data: { module: 'discount-type/look-up' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].discountTypeCode = data.code;
            this.detail[index].discountTypeName = data.name;
            this.detail[index].discountPercent01 = data.discountPercent01;
            this.detail[index].discountPercent02 = data.discountPercent02;
            this.detail[index].discountPercent03 = data.discountPercent03;
            this.detail[index].discountPercent04 = data.discountPercent04;
            this.detail[index].discountPercent05 = data.discountPercent05;
            this.detail[index].discountPercent06 = data.discountPercent06;
            this.detail[index].discountPercent07 = data.discountPercent07;
            this.detail[index].discountPercent08 = data.discountPercent08;
            this.detail[index].discountPercent09 = data.discountPercent09;
            this.detail[index].discountPercent10 = data.discountPercent10;

            this.calculateDiscount(field, index);
          }
        },
      });
    },
    async onCellEditComplete(event) {
      let { data, newValue, field, index } = event;
      let temp = null;
      switch (field) {
        case 'catalogNo':
          temp = await this.master.dataMaster('item-jn-catalog-number', { code: newValue });
          data['catalogNo'] = this.detail[index].catalogNo = temp.data.code;
          break;
        case 'discountTypeCode':
          temp = await this.master.dataMaster('discount-type', { code: newValue });
          data['discountTypeCode'] = this.detail[index].discountTypeCode = temp.data.code;
          data['discountTypeName'] = this.detail[index].discountTypeName = temp.data.name;
          data['discountPercent01'] = this.detail[index].discountPercent01 = temp.data.discountPercent01;
          data['discountPercent02'] = this.detail[index].discountPercent02 = temp.data.discountPercent02;
          data['discountPercent03'] = this.detail[index].discountPercent03 = temp.data.discountPercent03;
          data['discountPercent04'] = this.detail[index].discountPercent04 = temp.data.discountPercent04;
          data['discountPercent05'] = this.detail[index].discountPercent05 = temp.data.discountPercent05;
          data['discountPercent06'] = this.detail[index].discountPercent06 = temp.data.discountPercent06;
          data['discountPercent07'] = this.detail[index].discountPercent07 = temp.data.discountPercent07;
          data['discountPercent08'] = this.detail[index].discountPercent08 = temp.data.discountPercent08;
          data['discountPercent09'] = this.detail[index].discountPercent09 = temp.data.discountPercent09;
          data['discountPercent10'] = this.detail[index].discountPercent10 = temp.data.discountPercent10;
          this.calculateDiscount(field, index);
          break;
        default:
          data[field] = newValue;
          break;
      }
    },

    calculateDiscount(field, index) {
      let Price = this.detail[index].price;
      let discountAmount01 = 0,
        discountAmount02 = 0,
        discountAmount03 = 0,
        discountAmount04 = 0,
        discountAmount05 = 0,
        discountAmount06 = 0,
        discountAmount07 = 0,
        discountAmount08 = 0,
        discountAmount09 = 0,
        discountAmount10 = 0;

      if (this.detail[index].discountTypeCode !== '') {
        discountAmount01 = (Price * this.detail[index].discountPercent01) / 100;
        discountAmount02 = (Price * this.detail[index].discountPercent02) / 100;
        discountAmount03 = (Price * this.detail[index].discountPercent03) / 100;
        discountAmount04 = (Price * this.detail[index].discountPercent04) / 100;
        discountAmount05 = (Price * this.detail[index].discountPercent05) / 100;
        discountAmount06 = (Price * this.detail[index].discountPercent06) / 100;
        discountAmount07 = (Price * this.detail[index].discountPercent07) / 100;
        discountAmount08 = (Price * this.detail[index].discountPercent08) / 100;
        discountAmount09 = (Price * this.detail[index].discountPercent09) / 100;
        discountAmount10 = (Price * this.detail[index].discountPercent10) / 100;

        this.detail[index].discountAmount = discountAmount01 + discountAmount02 + discountAmount03 + discountAmount04 + discountAmount05 + discountAmount06 + discountAmount07 + discountAmount08 + discountAmount09 + discountAmount10;
        this.calculateTotaldetail(index);
      }
    },
    calculateTotaldetail(index) {
      this.detail[index].nettPrice = this.detail[index].price - this.detail[index].discountAmount;
      this.detail[index].totalAmount = this.detail[index].nettPrice * this.detail[index].quantity;
      this.calculationSummary();
    },
    calculationSummary() {
      this.form.totalTransactionAmount = 0;
      this.detail.forEach((datas) => {
        this.form.totalTransactionAmount += datas.nettPrice * datas.quantity;
      });
      this.form.taxBaseAmount = this.form.totalTransactionAmount - this.form.discountAmount;
      this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
      this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'quantity':
          data['nettPrice'] = this.detail[index].nettPrice = data['price'] - this.detail[index].discountAmount;
          data['totalAmount'] = this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
          this.calculationSummary();
          break;
        case 'subsidyPrice':
          data['price'] = data['subsidyPrice'] / decimalCurrency(this.vatDivision); // this.vatDivision vatDivision: store.state.defaultVatPercent,
          this.detail[index].price = this.detail[index].price = data['subsidyPrice'] / decimalCurrency(this.vatDivision);
          this.detail[index].nettPrice = this.detail[index].nettPrice = data['price'] - this.detail[index].discountAmount;
          this.detail[index].totalAmount = this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
          this.calculationSummary();
          break;
        case 'price':
          data['nettPrice'] = this.detail[index].nettPrice = data['price'] - this.detail[index].discountAmount;
          data['totalAmount'] = this.detail[index].totalAmount = data['nettPrice'] * data['quantity'];
          this.calculationSummary();
          break;
        default:
          break;
      }
    },
    onChangeVatPercent() {
      // alert(this.form.vatPercent.replace('%', ''))
      if (this.form.vatPercent !== 0) {
        this.form.vatAmount = (this.form.vatPercent * this.form.taxBaseAmount) / 100;
        this.form.grandTotalAmount = this.form.taxBaseAmount + this.form.vatAmount;
      } else {
        this.form.vatPercent = 0;
        this.form.vatAmount = 0;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
