@tailwind base;
@tailwind components;
@tailwind utilities;

.v-data-table {
  overflow-x: auto;
  white-space: nowrap;
}

.v-text-field .v-input__control .v-input__slot {
  font-size: 12px;
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-top: 0;
  margin-bottom: 0px;
}

.theme--light.v-label--is-disabled {
  color: rgba(191, 149, 24, 0.95);
}

.v-text-field__details {
  display: none;
}

input["type:radio"]{
  font-size: 18px;
}

/* input:disabled{
  background-color: #ffd70069;
} */

.v-application--is-ltr .v-input__append-outer {
  margin-left: -2px;
}

.v-card__subtitle, .v-card__text {
  line-height: initial;
}

.v-select.v-text-field--outlined:not(.v-text-field--single-line).v-input--dense .v-select__selections {
  padding: 0;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 5px;
  height: 27px;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td > .v-input .v-input__control {
  display: ruby;
}

.v-data-table > .v-data-table__wrapper > table{
  margin-bottom: 1rem;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  padding: 0 5px;
  height: 25px;
}

.transaction-date .v-input__control .v-input__slot {
  font-size: 13px;
}

.transaction-date .v-input__control .v-input__slot input{
  padding-top: 15px;
}

.v-text-field--outlined.v-input--dense .v-label {
  font-size: .8rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
