<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Purchase Return" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">PRT No</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true"/>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" placeholder="Enter branch" @change="searchChange('branch')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('branch')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Delivery Date</label>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionStartDate != '' }" />
                  </div>
                  <div class="col-6 md:col-4">
                    <Calendar id="icon" v-model="form.transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionEndDate != '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Payment Term</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter payment term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.paymentTermName" placeholder="payment term name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Currency</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Vendor</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.vendorCode" placeholder="Enter vendor" @change="searchChange('cendor')" :class="{ 'p-invalid': isError && form.vendorCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('cendor')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-8 mt-1">
                    <InputText v-model="form.currencyName" placeholder="vendor contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Discount Type</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="PERCENT" name="discountType" value="PERCENT" v-model="form.discountType" />
                      <label for="PERCENT">PERCENT</label>
                    </div>
                    <div class="col-6 field-radiobutton pt-3">
                      <RadioButton inputId="AMOUNT" name="discountType" value="AMOUNT" v-model="form.discountType" />
                      <label for="AMOUNT">AMOUNT</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Bill To</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" @change="searchChange('customer-address')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer-address')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToPhone" placeholder="bill to phone" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ship To</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" placeholder="Enter ship to" @change="searchChange('customer-address')" :class="{ 'p-invalid': isError && form.shipToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('customer-address')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToName" placeholder="ship to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.shipToAddress" placeholder="ship to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToContactPerson" placeholder="ship to contact person" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToPhone" placeholder="ship to phone" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refno" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20"/>
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PRQ DETAIL</label>
                <Button icon="pi pi-search" label="Search Purchase Request" class="p-button-sm p-button-warning" style="width: 15rem" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="PRQ No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Branch" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Division" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Division Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Request By" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Ref No" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">PO DETAIL</label>
                <Button icon="pi pi-search" label="Search Item" class="p-button-sm p-button-warning" style="width: 10rem" @Click="lookupAddRow" />
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Alias" style="white-space: nowrap; width: 15rem">
              <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
            </Column>
            <Column field="itemName" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" style="text-align: right"/>
              </template>
            </Column>
            <Column field="itemUnit" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="quantity" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 1 Percent" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 1 Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 2 Percent" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 2 Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 3 Percent" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="quantity" header="Discount 3 Amount" style="width: 5rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">Rp. {{ decimalCurrency(slotProps.data.quantity) }}</span>
              </template>
              <template #editor="{ data, field }">
                <InputNumber v-model="data[field]" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/>
              </template>
            </Column>
            <Column field="onHandStock" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="onHandStock" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
          </DataTable>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            :value="detail"
            :loading="loadingDetails"
            @cell-edit-complete="onCellEditComplete"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Vendor Down Payment</label>
              </div>
            </template>
            <Column header="#" style="width: 2rem">
              <template #body="{ index }">
                <Button icon="pi pi-trash" class="p-button-sm p-button-danger" style="padding: 0.1rem 0.1rem" @Click="remove(index)" />
              </template>
            </Column>
            <Column header="No" style="width: 3rem"><template #body="{ index }">{{ index + 1 }}</template></Column>
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="onHandStock" header="Excange Rate" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="onHandStock" header="VDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="onHandStock" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
            <Column field="onHandStock" header="Ballance" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.onHandStock) }}</template>
            </Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>

          <BlockUI :blocked="!isConfirm" class="col-12 md:col-7" style="z-index: 0">
            <div class="grid col-12 m-0 p-0"  style="justify-content:right;">
              <div class="col-12 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8"><InputNumber v-model="form.price" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4"><InputNumber v-model="form.price" prefix="%" style="text-align: right"/></div>
                  <div class="col-8 md:col-4"><InputNumber v-model="form.price" mode="currency" currency="IDR" locale="id-ID" style="text-align: right"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4">
                      <div class="p-inputgroup">
                        <InputText v-model="form.chartOfAccountCode" placeholder="Enter ship to" @change="searchChange('chart-of-account')" :class="{ 'p-invalid': isError && form.chartOfAccountCode != '' }" />
                        <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('chart-of-account')" />
                      </div>
                  </div>
                  <div class="col-8 md:col-4"><InputText v-model="form.price" disabled="true"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                  <div class="col-12 md:col-8"><InputText v-model="form.price" disabled="true"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8"><InputNumber v-model="form.price" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4"><InputNumber v-model="form.price" prefix="%" style="text-align: right"/></div>
                  <div class="col-8 md:col-4"><InputNumber v-model="form.price" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true"/></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8"><InputNumber v-model="form.price" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true"/></div>
                </div>
              </div>
            </div>
          </BlockUI>

        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster';
import LookupMultiMaster from '@/components/lookup/master/LookupMultiMaster';
import moment from 'moment';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },
  data: () => ({
    master: new MasterControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    listDetail: [],
    form: {
      code: null,
      name: null,
      transactionDate: store.state.currentDate,
      transactionStartDate: store.state.periodStartDate,
      transactionEndDate: store.state.periodEndDate,
      branchCode: null,
      branchName: null,
      discountType: 'PERCENT',
      orderBy: null,
      remark: null,
      activeStatus: true,
      price: 0,
    },
    detail: [
      {
        code: '',
        itemCode: '',
        itemName: '',
        onHandStock: 1000,
        minStock: 500,
        maxStock: 1000,
        quantity: 0,
        itemUnit: 'KG',
      },
    ],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        // if (this.form.branchName == '' || this.form.branchName == null) {
        //   this.isConfirm = false;
        //   this.$toast.add({ severity: 'warn', summary: "Branch can't be null!", life: 3000 });
        //   throw BreakException;
        // }
        // if (this.form.divisionName == '' || this.form.divisionName == null) {
        //   this.isConfirm = false;
        //   this.$toast.add({ severity: 'warn', summary: "Division can't be null!", life: 3000 });
        //   throw BreakException;
        // }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    addrow() {
      let detail = {
        code: '',
        itemCode: '',
        itemName: '',
        price: 100,
        quantity: 0,
        stockQuantity: 1000,
        balance: 0,
        total: 0,
      };
      this.detail.push(detail);
    },
    lookupAddRow() {
      this.$dialog.open(LookupMultiMaster, {
        props: { header: 'Search Master Item', modal: true },
        data: { module: 'item' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            data.forEach((datas) => {
              let detail = {
                code: '',
                itemCode: datas.code,
                itemName: datas.name,
                price: 100,
                quantity: 0,
                stockQuantity: 1000,
                balance: 0,
                total: 0,
              };
              this.detail.push(detail);
            });
          }
        },
      });
    },
    remove(row) {
      this.detail.splice(row.index, 1);
      this.calculationSummary(0);
    },
    async getData(data) {
      let temp = await this.master.dataMaster('branch', data);
      this.form.code = temp.data.code;
      this.form.name = temp.data.name;
      this.form.remark = temp.data.remark;
      this.form.activeStatus = temp.data.activeStatus;
    },
    async getListDetail() {
      this.listDetail = [];
      this.loadingDetails = true;
      const field = {
        column: '',
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.master.searchMaster('branch', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate,'DD/MM/YYYY').format("YYYY-MM-DD");
        //Add Grid Detail
        formSubmit.purchaseOrderDetail = this.detail;
        if (this.submitted) {
          await this.master.updateMaster('branch', formSubmit);
        } else {
          await this.master.saveMaster('branch', formSubmit);
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'branch':
          temp = await this.master.dataMaster(master, {code:this.form.branchCode});
          if (temp) {
            this.form.branchCode = temp.data.code;
            this.form.branchName = temp.data.name;
          }else{
            this.form.branchCode = null;
            this.form.branchName = null;
          }
          break;
        case 'division':
          temp = await this.master.dataMaster(master, {code:this.form.countrCode});
          if (temp) {
            this.form.countrCode = temp.data.code;
            this.form.divisionName = temp.data.name;
          }else{
            this.form.divisionCode = null;
            this.form.divisionName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'branch':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Branch', modal: true },
            data: { module: 'branch' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.branchCode = data.code;
                this.form.branchName = data.name;
              }
            },
          });
          break;
        case 'division':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Division', modal: true },
            data: { module: 'division' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.countrCode = data.code;
                this.form.divisionName = data.name;
              }
            },
          });
          break;
        case 'chart-of-account':
          this.$dialog.open(LookupMaster, {
            props: { header: 'Search Master Chart Of Account', modal: true },
            data: { module: 'chart-of-account' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.countrCode = data.code;
                this.form.divisionName = data.name;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    lookUpItemDetail(data, field, index) {
      this.$dialog.open(LookupMaster, {
        props: { header: 'Search Master Branch', modal: true },
        data: { module: 'branch' },
        onClose: (options) => {
          const data = options.data;
          if (data) {
            this.detail[index].itemCode = data.code;
            this.detail[index].itemName = data.name;
          }
        },
      });
    },
    async onCellEditComplete(event) {
      let { data, newValue, field } = event;
      switch (field) {
        case 'itemCode':
          // temp = await this.master.dataMaster('bank', {code:newValue});
          // data['itemCode'] = this.detail[index].itemCode = temp.data.code;
          // data['itemName'] = this.detail[index].itemName = temp.data.name;
          break;
        default:
          data[field] = newValue;
          break;
      }
    },
    onCellEditInit(data, field, index) {
      console.log([data,field,index])
      switch (field) {
        case 'quantity':
          // data['balance'] = this.detail[index].balance = data['stockQuantity'] - data['quantity'];
          // data['total'] = this.detail[index].total = data['quantity'] * data['price'];
          // this.calculationSummary((this.detail[index].total = data['quantity'] * data['price']));
          break;
        default:
          break;
      }
    },
    calculationSummary(total) {
      console.log(total)
      // this.form.totalTransaction = total;
      // this.detail.forEach((datas) => {
      //   this.form.totalTransaction += datas.price * datas.quantity;
      // });
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
