<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-10">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Bill Of Material</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': submitted && !form.code}"/>
							<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
						<div class="col-12 md:col-9">
							<InputText type="text" v-model="form.name" placeholder="Enter name"/>
							<small class="p-invalid" v-if="submitted && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Item Finish Good</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.itemFinishGood.code" placeholder="Enter Item Finish Good"  @change="searchChange('itemFinishGood')"  :class="{'p-invalid': isError && form.itemFinishGood.code != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('itemFinishGood')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.itemFinishGood.name" placeholder="item finish good name" disabled="true"/>
							</div>
							<label class="col-12 mb-2 md:col-3">Item Sub Category</label>
							<div class="col-6 md:col-4">
								<InputText v-model="form.itemSubCategory.code" placeholder="item sub category code" disabled="true"/>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.itemSubCategory.name" placeholder="item sub category name" disabled="true"/>
							</div>
							<label class="col-12 mb-2 md:col-3">Item Category</label>
							<div class="col-6 md:col-4">
								<InputText v-model="form.itemCategory.code" placeholder="item category code" disabled="true"/>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.itemCategory.name" placeholder="item category name" disabled="true"/>
							</div>
							<label class="col-12 mb-2 md:col-3">Item Division</label>
							<div class="col-6 md:col-4">
								<InputText v-model="form.itemDivision.code" placeholder="item division code" disabled="true"/>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.itemDivision.name" placeholder="item division name" disabled="true"/>
							</div>
						</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
						<div class="col-12 md:col-9">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-3 md:mb-0">Active Status</label>
						<div class="col-12 md:col-9">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-3 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster'
export default {
components: {
		DynamicDialog,
	},	
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		form: {
			code: "",
			name: "",
			remark: "",
			activeStatus: true,
			itemFinishGood: {
				code:null,
				name:null,
			},
			itemSubCategory: {
				code:null,
				name:null,
			},
			itemCategory: {
				code:null,
				name:null,
			},
			itemDivision: {
				code:null,
				name:null,
			},
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('bill-of-material', data);
			this.form = temp.data;
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(this.submitted){
				await this.master.updateMaster('bill-of-material', this.form);
			}else{
				await this.master.saveMaster('bill-of-material', this.form);
			}
			this.cancel();
		},
		cancel() {
			history.back();
		},
		async searchChange(master){
			let temp = null;
			switch (master) {
				case "itemFinishGood":
					temp = await this.master.dataMaster(master, this.form.itemFinishGood.code);
					this.form.itemFinishGood.code = temp.data.code;
					this.form.itemFinishGood.name = temp.data.name;
					break
				case "itemSubCategory":
					temp = await this.master.dataMaster(master, this.form.itemSubCategory.code);
					this.form.itemSubCategory.code = temp.data.code;
					this.form.itemSubCategory.name = temp.data.name;
					break
				case "itemCategory":
					temp = await this.master.dataMaster(master, this.form.itemCategory.code);
					this.form.itemCategory.code = temp.data.code;
					this.form.itemCategory.name = temp.data.name;
					break
				case "itemDivision":
					temp = await this.master.dataMaster(master, this.form.itemDivision.code);
					this.form.itemDivision.code = temp.data.code;
					this.form.itemDivision.name = temp.data.name;
					break
				default:
					break
			}
		},
		lookUpMaster(master){
				switch (master) {
					case "itemFinishGood":
						this.$dialog.open(LookupMaster, {
							props: { header: 'Search itemFinishGood',modal: true },
							data: { module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.itemFinishGood.code = data.code;
									this.form.itemFinishGood.name = data.name;
								}
							}
						});
						break
					case "itemSubCategory":
						this.$dialog.open(LookupMaster, {
							props: { header: 'Search itemSubCategory',modal: true },
							data: { module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.itemSubCategory.code = data.code;
									this.form.itemSubCategory.name = data.name;
								}
							}
						});
						break
					case "itemCategory":
						this.$dialog.open(LookupMaster, {
							props: { header: 'Search itemCategory',modal: true },
							data: { module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.itemCategory.code = data.code;
									this.form.itemCategory.name = data.name;
								}
							}
						});
						break
					case "itemDivision":
						this.$dialog.open(LookupMaster, {
							props: {header: 'Search Master itemDivision',modal: true},
							data: {module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.itemDivision.code = data.code;
									this.form.itemDivision.name = data.name;
								}
							}
						});
						break
					default:
						break
				}
			},
	}
}
</script>
