<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <BlockUI :blocked="isConfirm" class="col-12 m-0 p-0" style="z-index: 0">
          <Panel header="Picking List Sales Order" class="col-12 m-0 p-0" style="margin-top: 20px">
            <div class="grid">
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>PLT-SOD No*</b></label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Transaction Date *</b></label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.transactionDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.transactionDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Sod No *</b></label>
                  <div class="col-6 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderCode" placeholder="Enter Sales Order" @change="searchChange('look-up-so')" :class="{ 'p-invalid': isError && form.branchName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('look-up-so')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Branch </label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.branchCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.branchName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Delivery Date</label>
                  <div class="col-12 md:col-8">
                    <InputText v-model="form.requestDeliveryDate" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Sales Person</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesPersonCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.salesPersonName" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Refno</label>
                  <div class="col-6 md:col-8">
                    <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Remark</label>
                  <div class="col-12 md:col-8">
                    <Textarea v-model="form.remark" rows="3" cols="20" />
                  </div>
                </div>
                <!-- <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Currency *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.currencyCode" placeholder="Enter currency" @change="searchChange('currency')" :class="{ 'p-invalid': isError && form.currencyCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('currency')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer PO</label>
                  <div class="col-12 md:col-8">
                    <InputText type="text" v-model="form.customerPurchaseOrderNo" placeholder="Customer Purchase Order Code" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">SO No Link</label>
                  <div class="col-12 md:col-8">
                    <div class="p-inputgroup">
                      <InputText v-model="form.salesOrderLinkCode" placeholder="Enter sales No Link" @change="searchChange('link-so')" :class="{ 'p-invalid': isError && form.salesOrderLinkCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('link-so')" />
                    </div>
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">SO Date Link</label>
                  <div class="col-12 md:col-8">
                    <Calendar id="icon" v-model="form.salesOrderLinkDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{ 'p-invalid': isError && form.salesOrderLinkDate == '' }" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Payment Term *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.paymentTermCode" placeholder="Enter Payment Term" @change="searchChange('payment-term')" :class="{ 'p-invalid': isError && form.paymentTermName != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('payment-term')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermName" placeholder="Name" disabled="true" />
                  </div>
                  <div class="col-6 md:col-2">
                    <InputText v-model="form.paymentTermDays" placeholder="Days" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 md:col-4">Subsidy Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="subsidyStatus" value="1" v-model="form.subsidyStatus" />
                      <label for="1">Yes</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="subsidyStatus" value="0" v-model="form.subsidyStatus" />
                      <label for="0">No</label>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="cols-12 md:col-6">
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Customer</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.customerCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.customerName" disabled="true" />
                  </div>
                </div>
                <!-- <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Price Type</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.priceTypeCode" placeholder="Price Type " disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.priceTypeName" placeholder="Price Type Name" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Bill To * </b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.billToCode" placeholder="Enter bill to" @change="searchChange('bill-to')" :class="{ 'p-invalid': isError && form.billToCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bill-to')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">NPWP Status</label>
                  <div class="col-12 md:col-8 grid">
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="1" name="npwpStatus" value="1" v-model="form.npwpStatus" disabled="true" />
                      <label for="1">Yes</label>
                    </div>
                    <div class="col-3 field-radiobutton pt-3">
                      <RadioButton inputId="0" name="npwpStatus" value="0" v-model="form.npwpStatus" disabled="true" />
                      <label for="0">No</label>
                    </div>
                  </div>
                </div> -->
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4">Ship To </label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToName" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">City</label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.shipToCityCode" disabled="true" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.shipToCityName" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Address</label>
                  <div class="col-6 md:col-8 pt-1">
                    <InputText v-model="form.shipToAddress" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Contact Person</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.shipToContactPerson" disabled="true" />
                  </div>
                </div>
                <div class="field grid">
                  <label class="col-12 mb-2 md:col-4"><b>Warehouse *</b></label>
                  <div class="col-6 md:col-4">
                    <div class="p-inputgroup">
                      <InputText v-model="form.warehouseCode" placeholder="Enter warehouse" @change="searchChange('warehouse')" :class="{ 'p-invalid': isError && form.projectCode != '' }" />
                      <Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('warehouse')" />
                    </div>
                  </div>
                  <div class="col-6 md:col-4">
                    <InputText v-model="form.warehouseName" placeholder="warehouse name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Dock-In Rack</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockInCode" placeholder="dock in rack" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockInName" placeholder="dock in rack name" disabled="true" />
                  </div>
                  <label class="col-12 mb-2 md:col-4">Dock-Dln Rack</label>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockDlnCode" placeholder="dock Dln rack" disabled="true" />
                  </div>
                  <div class="col-6 md:col-4 pt-1">
                    <InputText v-model="form.rackDockDlnName" placeholder="dock Dln rack name" disabled="true" />
                  </div>
                </div>
              </div>
            </div>
          </Panel>
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="id"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="single"
            :value="detail"
            :loading="loadingDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">Item Detail</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }">
                <InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" />
              </template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="quantity" header="SO Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
            </Column>
            <Column field="processedQuantity" header="Process Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.processedQuantity) }}</template>
            </Column>
            <Column field="balancedQuantity" header="Balance Quantity" style="white-space: nowrap; width: 10rem; text-align: right"
              ><template #body="slotProps">{{ decimalCurrency(slotProps.data.balancedQuantity) }}</template>
            </Column>
            <Column field="pickingQuantity" header="PLT-SO Quantity" style="white-space: nowrap; min-width: 10rem; text-align: right">
              <template #body="slotProps">
                <span :style="{ 'color:red;': slotProps.data.pickingQuantity < 1 }">{{ decimalCurrency(slotProps.data.pickingQuantity) }}</span>
              </template>
              <template #editor="{ data, field, index }">
                <InputText v-model="data[field]" @change="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem; text-align: right" />
              </template>
            </Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 15rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="col-12 p-2 m-0">
          <ToggleButton v-model="isConfirm" @click="btnConfirm" onLabel="Unlock" offLabel="Confrim" :style="{ width: '8em' }" />
        </div>
        <BlockUI :blocked="!isConfirm" class="col-12 md:col-12 m-0 p-0" style="z-index: 0">
          <DataTable
            showGridlines
            columnResizeMode="expand"
            responsiveLayout="scroll"
            dataKey="code"
            scrollHeight="400px"
            class="col-12 md:col-12 py-1 editable-cells-table"
            :resizableColumns="true"
            editMode="cell"
            selectionMode="single"
            v-model:selection="selectedRows"
            :value="detailStock"
            :loading="loadingStockDetails"
          >
            <template #header>
              <div class="table-header">
                <label style="font-weight: bold">SO DETAIL</label>
              </div>
            </template>
            <Column header="No" style="width: 3rem"
              ><template #body="{ index }">{{ index + 1 }}</template></Column
            >
            <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
              <template #editor="{ data, field }"><InputText v-model="data[field]" autofocus style="padding: 0.1rem 0.1rem" /></template>
            </Column>
            <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
            <Column field="catalogNo" header="Catalog No" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right"></Column>
            <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
            <Column field="rackCode" header="Rack Code" style="white-space: nowrap; width: 10rem"></Column>
            <Column field="rackName" header="Rack Name" style="white-space: nowrap; width: 5rem"></Column>
          </DataTable>
        </BlockUI>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="col-12 md:col-5 py-1">
            <div class="field grid">
              <div class="col-6 md:col-4"><Button label="Save" :disabled="!isConfirm" class="p-button-warning" @Click="submit"></Button></div>
              <div class="col-6 md:col-4"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <DynamicDialog />
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import BlockUI from 'primevue/blockui';
import DynamicDialog from 'primevue/dynamicdialog';
import { SalesControllers } from '@/controllers/sales/SalesControllers';
import LookUpWarehouse from '@/components/lookup/master/LookUpWarehouse';
import LookUpSalesOrder from '@/components/lookup/sales/LookUpSalesOrder';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';

export default {
  components: {
    BlockUI,
    DynamicDialog,
  },

  data: () => ({
    master: new MasterControllers(),
    sales: new SalesControllers(),
    isError: false,
    exchangeRate: 1,
    submitted: false,
    isConfirm: false,
    selectedRows: false,
    loadingDetails: false,
    loadingStockDetails: false,
    currencyCode: store.state.defaultCurrencyCode,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      warehouseCode: null,
      refNo: null,
      remark: null,
    },
    detail: [
      {
        quantity: 0,
        processedQuantity: 0,
        balancedQuantity: 0,
      },
    ],
    detailStock: [],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = false;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
    }
  },
  mounted() {},
  methods: {
    btnConfirm() {
      let BreakException = [];
      try {
        if (this.form.salesOrderCode == '' || this.form.salesOrderCode == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "SO can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.form.warehouseName == '' || this.form.warehouseName == null) {
          this.isConfirm = false;
          this.$toast.add({ severity: 'warn', summary: "Warehouse can't be null!", life: 3000 });
          throw BreakException;
        }
        if (this.isConfirm == false) {
          this.detailStock = [];
        } else {
          this.getListStockDetail();
        }
      } catch (e) {
        if (e !== BreakException) throw e;
      }
    },
    async getData(data) {
      let temp = await this.sales.dataSales('picking-list-sales-order', { code: data });
      this.form = temp.data;
      this.getListDetail(this.form.salesOrderCode);
    },
    async getListDetail(data) {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        salesOrderCode: data,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.sales.searchSales('picking-list-sales-order/so-detail', field);
      this.selectedRows = null;
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async getListStockDetail() {
      this.detailStock = [];
      this.loadingStockDetails = true;
      let temp = await this.sales.searchSalesObject('picking-list-sales-order/stock-per-item', '', {
        page: 0,
        size: 1000,
        sort: 'code,ASC',
        listStockDetail: this.detail.map((item) => {
          return {
            itemCode: item.itemCode,
            quantity: item.pickingQuantity,
            warehouseCode: this.form.warehouseCode,
            sourceRackCode: this.form.rackDockInCode,
            destinationRackCode: this.form.rackDockDlnCode,
          };
        }),
      });
      this.loadingStockDetails = false;
      return (this.detailStock = temp.data);
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        //Add Grid Detail
        // formSubmit.listSalesOrderDetail = this.detail;
        if (this.submitted) {
          // await this.sales.updateSales('sales-order', formSubmit);
          await this.sales.updateSales('picking-list-sales-order', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            salesOrderCode: this.form.salesOrderCode,
            currencyCode: this.currencyCode,
            exchangeRate: this.exchangeRate,
            branchCode: this.form.branchCode,
            shipToCode: this.form.shipToCode,
            warehouseCode: this.form.warehouseCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            listPickingListSalesOrderDetail: this.detail.map((item) => {
              return {
                salesOrderDetailCode: item.code,
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                quantity: item.pickingQuantity,
                sourceRackCode: this.form.rackDockInCode,
                destinationRackCode: this.form.rackDockDlnCode,
              };
            }),
          });
        } else {
          // await this.sales.saveSales('sales-order', formSubmit);
          await this.sales.saveSales('picking-list-sales-order', {
            code: this.form.code,
            transactionDate: formSubmit.transactionDate,
            salesOrderCode: this.form.salesOrderCode,
            currencyCode: this.currencyCode,
            exchangeRate: this.exchangeRate,
            branchCode: this.form.branchCode,
            shipToCode: this.form.shipToCode,
            warehouseCode: this.form.warehouseCode,
            refNo: this.form.refNo,
            remark: this.form.remark,
            listPickingListSalesOrderDetail: this.detail.map((item) => {
              return {
                salesOrderDetailCode: item.code,
                itemCode: item.itemCode,
                itemAlias: item.itemAlias,
                quantity: item.pickingQuantity,
                sourceRackCode: this.form.rackDockInCode,
                destinationRackCode: this.form.rackDockDlnCode,
              };
            }),
          });
        }
        this.cancel();
      }
    },
    async searchChange(master) {
      let temp = null;
      switch (master) {
        case 'look-up-so':
          temp = await this.sales.dataSales('sales-order', { code: this.form.salesOrderCode });
          if (temp) {
            this.form.branchCode = temp.data.branchCode;
            this.form.branchName = temp.data.branchName;
            this.form.requestDeliveryDate = temp.data.requestDeliveryDate;
            this.form.salesPersonCode = temp.data.salesPersonCode;
            this.form.salesPersonName = temp.data.salesPersonName;
            this.form.customerCode = temp.data.customerCode;
            this.form.customerName = temp.data.customerName;
            this.form.shipToCode = temp.data.shipToCode;
            this.form.shipToName = temp.data.shipToName;
            this.form.shipToCityCode = temp.data.shipToCityCode;
            this.form.shipToCityName = temp.data.shipToCityName;
            this.form.shipToAddress = temp.data.shipToAddress;
            this.form.shipToContactPerson = temp.data.shipToContactPerson;
          } else {
            this.form.branchCode = null;
            this.form.branchName = null;
            this.form.requestDeliveryDate = null;
            this.form.salesPersonCode = null;
            this.form.salesPersonName = null;
            this.form.customerCode = null;
            this.form.customerName = null;
            this.form.shipToCode = null;
            this.form.shipToName = null;
            this.form.shipToCityCode = null;
            this.form.shipToCityName = null;
            this.form.shipToAddress = null;
            this.form.shipToContactPerson = null;
          }
          break;
        case 'warehouse':
          temp = await this.master.dataMaster('warehouse', { code: this.form.warehouseCode });
          if (temp) {
            this.form.warehouseName = temp.data.name;
            this.form.rackDockInCode = temp.data.rackDockInCode;
            this.form.rackDockInName = temp.data.rackDockInName;
            this.form.rackDockDlnCode = temp.data.rackDockDlnCode;
            this.form.rackDockDlnName = temp.data.rackDockDlnName;
          } else {
            this.form.warehouseName = null;
            this.form.rackDockInCode = null;
            this.form.rackDockInName = null;
            this.form.rackDockDlnCode = null;
            this.form.rackDockDlnName = null;
          }
          break;
        default:
          break;
      }
    },
    lookUpMaster(master) {
      switch (master) {
        case 'look-up-so':
          this.$dialog.open(LookUpSalesOrder, {
            props: { header: 'Search Sales Order', style: { width: '90vw' }, modal: true },
            data: { module: 'sales-order/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.salesOrderCode = data.code;
                this.form.branchCode = data.branchCode;
                this.form.branchName = data.branchName;
                this.form.requestDeliveryDate = data.requestDeliveryDate;
                this.form.salesPersonCode = data.salesPersonCode;
                this.form.salesPersonName = data.salesPersonName;
                this.form.customerCode = data.customerCode;
                this.form.customerName = data.customerName;
                this.form.shipToCode = data.shipToCode;
                this.form.shipToName = data.shipToName;
                this.form.shipToCityCode = data.shipToCityCode;
                this.form.shipToCityName = data.shipToCityName;
                this.form.shipToAddress = data.shipToAddress;
                this.form.shipToContactPerson = data.shipToContactPerson;
                this.getListDetail(this.form.salesOrderCode);
              }
            },
          });
          break;
        case 'warehouse':
          this.$dialog.open(LookUpWarehouse, {
            props: { header: 'Search Master Warehouse', modal: true },
            data: { module: 'warehouse/look-up' },
            onClose: (options) => {
              const data = options.data;
              if (data) {
                this.form.warehouseCode = data.code;
                this.form.warehouseName = data.name;
                this.form.rackDockInCode = data.rackDockInCode;
                this.form.rackDockInName = data.rackDockInName;
                this.form.rackDockDlnCode = data.rackDockDlnCode;
                this.form.rackDockDlnName = data.rackDockDlnName;
              }
            },
          });
          break;
        default:
          break;
      }
    },
    onCellEditInit(data, field, index) {
      switch (field) {
        case 'pickingQuantity':
          this.detail[index].pickingQuantity = data['pickingQuantity'];
          this.check(data);
          break;
        default:
          break;
      }
    },
    check(data) {
      let BreakException = [];
      if (data.pickingQuantity > data.balancedQuantity) {
        this.isError = true;
        this.$toast.add({ severity: 'warn', summary: " Picking Quantity can't more than balanced Quantity!", life: 3000 });
        throw BreakException;
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
