<template>
  <Toast />
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <div class="card p-fluid">
        <Panel header="Purchase Order Closing" class="col-12 m-0 p-0" style="margin-top: 20px">
          <div class="grid">
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">PO No</label>
                <div class="col-12 md:col-8">
                  <InputText type="text" v-model="form.code" placeholder="AUTO" :disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Transaction Date</label>
                <div class="col-12 md:col-8">
                  <InputText v-model="form.transactionDate" placeholder="transactionDate" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Branch</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.branchCode" placeholder="branch code" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.branchName" placeholder="branch name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Delivery Date</label>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.transactionStartDate" placeholder="transactionStartDate" disabled="true" />
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.transactionEndDate" placeholder="transactionEndDate" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Payment Term</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.paymentTermCode" placeholder="payment term code" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.paymentTermName" placeholder="payment term name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Currency</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.currencyCode" placeholder="currency code" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.currencyName" placeholder="currency name" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Vendor</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.vendorCode" placeholder="vendor code" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.vendorName" placeholder="vendor name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4">Contact Person</label>
                <div class="col-6 md:col-8 mt-1">
                  <InputText v-model="form.vendorContact" placeholder="vendor contact person" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Discount Type</label>
                <div class="col-12 md:col-8 grid">
                  <div class="col-6 field-radiobutton pt-3">
                    <RadioButton inputId="PERCENT" name="discountType" value="PERCENT" v-model="form.discountType" disabled="true" />
                    <label for="PERCENT">PERCENT</label>
                  </div>
                  <div class="col-6 field-radiobutton pt-3">
                    <RadioButton inputId="AMOUNT" name="discountType" value="AMOUNT" v-model="form.discountType" disabled="true" />
                    <label for="AMOUNT">AMOUNT</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Bill To</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.billToCode" placeholder="bill to code" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.billToName" placeholder="bill to name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4">Address</label>
                <div class="col-6 md:col-8 pt-1">
                  <InputText v-model="form.billToAddress" placeholder="bill to address" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4">Contact Person</label>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.billToContactPerson" placeholder="bill to contact person" disabled="true" />
                </div>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.billToPhone" placeholder="bill to phone" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Ship To</label>
                <div class="col-6 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.shipToCode" placeholder="ship to name" disabled="true" />
                  </div>
                </div>
                <div class="col-6 md:col-4">
                  <InputText v-model="form.shipToName" placeholder="ship to name" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4">Address</label>
                <div class="col-6 md:col-8 pt-1">
                  <InputText v-model="form.shipToAddress" placeholder="ship to address" disabled="true" />
                </div>
                <label class="col-12 mb-2 md:col-4">Contact Person</label>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.shipToContactPerson" placeholder="ship to contact person" disabled="true" />
                </div>
                <div class="col-6 md:col-4 pt-1">
                  <InputText v-model="form.shipToPhone" placeholder="ship to phone" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Refno</label>
                <div class="col-6 md:col-8">
                  <InputText type="text" v-model="form.refNo" placeholder="ref no" class="p-inputtext-sm" disabled="true" />
                </div>
              </div>
              <div class="field grid">
                <label class="col-12 mb-2 md:col-4">Remark</label>
                <div class="col-12 md:col-8">
                  <Textarea v-model="form.remark" rows="3" cols="20" disabled="true" />
                </div>
              </div>
            </div>
            <div class="cols-12 md:col-6">
              <div class="field grid">
                <label class="md:col-4"></label>
                <div class="col-6 md:col-3"><Button label="Closing" class="p-button-warning" @Click="submit"></Button></div>
                <div class="col-6 md:col-3"><Button label="Cancel" class="p-button-danger" @Click="cancel"></Button></div>
              </div>
            </div>
          </div>
        </Panel>
        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="id"
          scrollHeight="400px"
          class="col-12 md:col-12 py-1 editable-cells-table"
          :resizableColumns="true"
          editMode="cell"
          :value="detailPrq"
          :loading="loadingPrqDetails"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">PRQ DETAIL</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="purchaseRequestCode" header="PRQ No" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="branchCode" header="Branch" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="divisionCode" header="Division" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="divisionName" header="Division Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="requestBy" header="Request By" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="refNo" header="Ref No" style="white-space: nowrap; width: 15rem"></Column>
        </DataTable>
        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="id"
          scrollHeight="400px"
          class="col-12 md:col-12 py-1 editable-cells-table"
          :resizableColumns="true"
          editMode="cell"
          :value="detail"
          :loading="loadingDetails"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">PO DETAIL</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="itemCode" header="Item Code" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemName" header="Item Name" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="itemAlias" header="Item Alias" style="white-space: nowrap; width: 15rem">
            <template #editor="{ data, field }"><InputText v-model="data[field]" /></template>
          </Column>
          <Column field="remark" header="Remark" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="quantity" header="Qty" style="white-space: nowrap; min-width: 8rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.quantity < 1 }">{{ decimalCurrency(slotProps.data.quantity) }}</span>
            </template>
          </Column>
          <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap; width: 5rem"></Column>
          <Column field="price" header="Price" style="white-space: nowrap; min-width: 10rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.price < 1 }">{{ decimalCurrency(slotProps.data.price) }}</span>
            </template>
          </Column>
          <Column field="discount1Percent" header="Discount 1 Percent" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount1Percent < 1 }">{{ decimalCurrency(slotProps.data.discount1Percent) }}</span>
            </template>
          </Column>
          <Column field="discount1Amount" header="Discount 1 Amount" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount1Amount < 1 }">{{ decimalCurrency(slotProps.data.discount1Amount) }}</span>
            </template>
          </Column>
          <Column field="discount2Percent" header="Discount 2 Percent" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount2Percent < 1 }">{{ decimalCurrency(slotProps.data.discount2Percent) }}</span>
            </template>
          </Column>
          <Column field="discount2Amount" header="Discount 2 Amount" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount2Amount < 1 }">{{ decimalCurrency(slotProps.data.discount2Amount) }}</span>
            </template>
          </Column>
          <Column field="discount3Percent" header="Discount 3 Percent" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount3Percent < 1 }">{{ decimalCurrency(slotProps.data.discount3Percent) }}</span>
            </template>
          </Column>
          <Column field="discount3Amount" header="Discount 3 Amount" style="width: 5rem; text-align: right">
            <template #body="slotProps">
              <span :style="{ 'color:red;': slotProps.data.discount3Amount < 1 }">{{ decimalCurrency(slotProps.data.discount3Amount) }}</span>
            </template>
          </Column>
          <Column field="nettPrice" header="Nett Price" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.nettPrice) }}</template>
          </Column>
          <Column field="totalAmount" header="Total" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.totalAmount) }}</template>
          </Column>
        </DataTable>
        <DataTable
          showGridlines
          columnResizeMode="expand"
          responsiveLayout="scroll"
          dataKey="id"
          scrollHeight="400px"
          class="col-12 md:col-12 py-1 editable-cells-table"
          :resizableColumns="true"
          editMode="cell"
          :value="detailVdp"
          :loading="loadingVdpDetails"
        >
          <template #header>
            <div class="table-header">
              <label style="font-weight: bold">Vendor Down Payment</label>
            </div>
          </template>
          <Column header="No" style="width: 3rem"
            ><template #body="{ index }">{{ index + 1 }}</template></Column
          >
          <Column field="code" header="ID" style="white-space: nowrap; width: 1rem" :hidden="true">
            <template #editor="{ data, field, index }"><InputText v-model="data[field]" @keyup="onCellEditInit(data, field, index)" autofocus style="padding: 0.1rem 0.1rem" /></template>
          </Column>
          <Column field="vendorDownPaymentCode" header="VDP U No" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="transactionDate" header="Transaction Date" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="currencyCode" header="Currency" style="white-space: nowrap; width: 15rem"></Column>
          <Column field="exchangeRate" header="Excange Rate" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">{{ decimalCurrency(slotProps.data.exchangeRate) }}</template>
          </Column>
          <Column field="vdpAmount" header="VDP Amount" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.vdpAmount) }}</template>
          </Column>
          <Column field="usedAmount" header="Used" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.usedAmount) }}</template>
          </Column>
          <Column field="balanceAmount" header="Ballance" style="white-space: nowrap; width: 10rem; text-align: right"
            ><template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.balanceAmount) }}</template>
          </Column>
        </DataTable>
        <div class="grid col-12 md:col-12 m-0 p-0">
          <div class="grid col-12 m-0 p-0" style="justify-content: right">
            <div class="col-12 md:col-7 m-0 p-0">
              <div class="field grid m-0 p-0"><Divider /></div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.totalTransactionAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                <div class="col-4 md:col-4">
                  <InputText :value="decimalCurrency(form.discountPercent)" prefix="%" style="text-align: right" disabled="true"/>
                </div>
                <div class="col-8 md:col-4">
                  <InputText :value="decimalCurrency(form.discountAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true"/>
                </div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                <div class="col-4 md:col-4">
                  <div class="p-inputgroup">
                    <InputText v-model="form.discountChartOfAccountCode" disabled="true" />
                  </div>
                </div>
                <div class="col-8 md:col-4"><InputText v-model="form.discountChartOfAccountName" disabled="true" /></div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                <div class="col-12 md:col-8"><InputText v-model="form.discountDescription" disabled="true"/></div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.taxBaseSubTotalAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                <div class="col-4 md:col-4">
                  <InputText :value="decimalCurrency(form.vatPercent)" prefix="%" style="text-align: right" disabled="true"/>
                </div>
                <div class="col-8 md:col-4"><InputText :value="decimalCurrency(form.vatAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
              </div>
              <div class="col-12 md:col-12 field grid m-0 p-0">
                <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                <div class="col-12 md:col-8"><InputText :value="decimalCurrency(form.grandTotalAmount)" mode="currency" currency="IDR" locale="id-ID" style="text-align: right" disabled="true" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DynamicDialog />
  </div>
</template>
<script>
import moment from 'moment';
import { store } from '@/store';
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam, decimalCurrency, removeCommas } from '@/utils/function';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';

export default {
  components: {
    DynamicDialog,
  },
  data: () => ({
    purchase: new PurchaseControllers(),
    isError: false,
    submitted: false,
    isConfirm: false,
    loadingDetails: false,
    loadingPrqDetails: false,
    loadingVdpDetails: false,
    form: {
      code: null,
      transactionDate: store.state.currentDate,
      branchCode: null,
      branchName: null,
      deliveryDateStart: store.state.periodStartDate,
      deliveryDateEnd: store.state.periodEndDate,
      paymentTermCode: null,
      paymentTermName: null,
      currencyCode: null,
      currencyName: null,
      vendorCode: null,
      vendorName: null,
      billToCode: null,
      shipToCode: null,
      discountType: 'PERCENT',
      refNo: null,
      remark: null,
      discountChartOfAccountCode: '',
      discountChartOfAccountName: '',
      totalTransactionAmount: 0,
      discountDescription: '',
      taxBaseSubTotalAmount: 0,
      grandTotalAmount: 0,
      discountPercent: 0,
      discountAmount: 0,
      vatPercent: 0,
      vatAmount: 0,
    },
    detail: [],
    detailPrq:[],
    detailVdp:[],
  }),
  watch: {},
  created() {
    if (getParam('code')) {
      this.submitted = true;
      this.isConfirm = true;
      this.form.code = getParam('code');
      this.getData(getParam('code'));
      this.getListPrqDetail();
      this.getListVdpDetail();
      this.getListDetail();
    }
  },
  mounted() {},
  methods: {
    async getData(data) {
      let temp = await this.purchase.dataPurchase('purchase-order', { code: data });
      this.form.code = temp.data.code;
      this.form.transactionDate = temp.data.transactionDate;
      this.form.branchCode = temp.data.branchCode;
      this.form.branchName = temp.data.branchName;
      this.form.deliveryDateStart = temp.data.deliveryDateStart;
      this.form.deliveryDateEnd = temp.data.deliveryDateEnd;
      this.form.paymentTermCode = temp.data.paymentTermCode;
      this.form.paymentTermName = temp.data.paymentTermName;
      this.form.currencyCode = temp.data.currencyCode;
      this.form.currencyName = temp.data.currencyName;
      this.form.vendorCode = temp.data.vendorCode;
      this.form.vendorName = temp.data.vendorName;
      this.form.vendorContact = temp.data.vendorContact;
      this.form.billToCode = temp.data.billToCode;
      this.form.billToName = temp.data.billToName;
      this.form.billToContactPerson = temp.data.billToContactPerson;
      this.form.billToPhone = temp.data.billToPhone;
      this.form.billToAddress = temp.data.billToAddress;
      this.form.shipToCode = temp.data.shipToCode;
      this.form.shipToName = temp.data.shipToName;
      this.form.shipToContactPerson = temp.data.shipToContactPerson;
      this.form.shipToAddress = temp.data.shipToAddress;
      this.form.shipToPhone = temp.data.shipToPhone;
      this.form.discountType = temp.data.discountType;
      this.form.refNo = temp.data.refNo;
      this.form.remark = temp.data.remark;
      this.form.closingStatus = 'CLOSED';
      this.form.discountChartOfAccountCode = temp.data.discountChartOfAccountCode;
      this.form.discountChartOfAccountName = temp.data.discountChartOfAccountName;
      this.form.totalTransactionAmount = temp.data.totalTransactionAmount;
      this.form.taxBaseSubTotalAmount = temp.data.taxBaseSubTotalAmount;
      this.form.discountDescription = temp.data.discountDescription;
      this.form.grandTotalAmount = temp.data.grandTotalAmount;
      this.form.discountPercent = temp.data.discountPercent;
      this.form.discountAmount = temp.data.discountAmount;
      this.form.vatPercent = temp.data.vatPercent;
      this.form.vatAmount = temp.data.vatAmount;
    },
    async getListPrqDetail() {
      this.detailPrq = [];
      this.loadingPrqDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/prq', field);
      this.selectedRows = null;
      this.loadingPrqDetails = false;
      return (this.detailPrq = temp.data);
    },
    async getListDetail() {
      this.detail = [];
      this.loadingDetails = true;
      const field = {
        headerCode: this.form.code,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/detail', field);
      this.loadingDetails = false;
      return (this.detail = temp.data);
    },
    async getListVdpDetail() {
      this.detailVdp = [];
      this.loadingVdpDetails = true;
      const field = {
        headerCode: this.form.vendorCode,
        page: 0,
        size: 1000,
        sort: 'code,ASC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/vdp', field);
      this.loadingVdpDetails = false;
      if (temp.data == null) {
        this.detailVdp = [
          {
            code: '',
            vendorDownPaymentCode: '',
            transactionDate: '',
            currencyCode: '',
            exchangeRate: '',
            vdpAmount: 0,
            usedAmount: 0,
            balanceAmount: 0,
          },
        ];
      } else {
        return (this.detailVdp = temp.data);
      }
    },
    async submit() {
      let index = 1;
      let BreakException = {};
      this.isError = false;
      try {
        this.detail.forEach((datas) => {
          if (datas.itemCode == '') {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + " : Item can't be null!", life: 3000 });
            throw BreakException;
          }
          if (datas.quantity < 1) {
            this.isError = true;
            this.$toast.add({ severity: 'warn', summary: ' Detail No ' + index + ' : Quantity more than 0!', life: 3000 });
            throw BreakException;
          }
          index = index + 1;
        });
      } catch (e) {
        if (e !== BreakException) throw e;
      }

      if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.transactionDate = moment(this.form.transactionDate, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.deliveryDateStart = moment(this.form.deliveryDateStart, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.deliveryDateEnd = moment(this.form.deliveryDateEnd, 'DD/MM/YYYY').format('YYYY-MM-DD');
        formSubmit.closingStatus = 'CLOSED';
        //Add Grid Detail
        formSubmit.listPurchaseOrderDetail = this.detail;
        formSubmit.listPODJnPurchaseRequestDetail = this.detailPrq;
        if (this.submitted) {
          await this.purchase.updatePurchase('purchase-order/closing', formSubmit);
        }
        this.cancel();
      }
    },
    cancel() {
      history.back();
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>