<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Purchase Order Closing</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">PO No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Purchase Order" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Vendor</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchVendorCode" placeholder=" Vendor Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchVendorName" placeholder=" Vendor Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Currency</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchCurrencyCode" placeholder=" Currency Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchCurrencyName" placeholder=" Currency Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <div class="col-12 field grid m-0 p-0">
                    <label class="col-12 md:col-4 mt-2 m-0 p-1">Closing</label>
                    <div class="col-12 md:col-8 m-0 p-1">
                      <Dropdown v-model="btnClosingStatus" :options="btnClosingStatusList" optionLabel="name" optionValue="code" placeholder="Select Approval" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-2 field grid m-0 p-0" style="justify-content: right;">
                  <div class="col-3 md:col-8 m-0 p-0 px-1 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" style="font-weight: bold;" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="min-width: 7em"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="code" header="POD No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="purchaseRequestCode" header="PRQ No" style="min-width: 12em" :sortable="true"></Column>
              <Column field="closingStatus" header="Closing Status" style="min-width: 12em" :sortable="true"></Column>
              <Column field="closingDate" header="Closing Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="closingBy" header="Closing By" style="min-width: 12em" :sortable="true"></Column>
              <Column field="deliveryDateStart" header="Delivery Date Start" style="min-width: 12em" :sortable="true"></Column>
              <Column field="deliveryDateEnd" header="Delivery Date End" style="min-width: 12em" :sortable="true"></Column>
              <Column field="vendorCode" header="Vendor Code" style="min-width: 12em" :sortable="true"></Column>
              <Column field="vendorName" header="Vendor Name" style="min-width: 12em" :sortable="true"></Column>
              <Column field="currencyCode" header="Order By" style="min-width: 12em" :sortable="true"></Column>
              <Column field="goodsReceivedNoteCode" header="GRN No" style="white-space: nowrap; display: flex; justify-content: center" :sortable="true"></Column>
            </DataTable>
            <div class="col-4 md:col-2 m-0 p-1"><Button label="Closing" class="p-button-warning" @Click="processData"></Button></div>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listPrqDetail"
              :loading="loadingPrqDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">PRQ DETAIL</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="purchaseRequestCode" header="PRQ No" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="branchCode" header="Branch" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="transactionDate" header="Transaction Date" style="min-width: 12em" :sortable="true"></Column>
              <Column field="divisionCode" header="Division Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="divisionName" header="Division Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="requestBy" header="Request By" style="white-space: nowrap"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap"></Column>
              <Column field="refNo" header="Ref No" style="white-space: nowrap"></Column>
            </DataTable>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">PO DETAIL</label></div>
              </template>
              <Column field="Index" header="No" style="min-width: 5rem"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="itemCode" header="Item Code" style="min-width: 12rem" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="min-width: 12rem" :sortable="true"></Column>
              <Column field="itemAlias" header="Item Alias" style="min-width: 12rem" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="min-width: 12rem"></Column>
              <Column field="quantity" header="PO Quantity" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.quantity) }}</template>
              </Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap"></Column>
              <Column field="price" header="Price" style="min-width: 12rem">
                <template #body="slotProps">Rp. {{ decimalCurrency(slotProps.data.price) }}</template>
              </Column>
              <Column field="discount1Percent" header="Discount Percent 1" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount1Percent) }}</template>
              </Column>
              <Column field="discount1Amount" header="Discount Amount1" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount1Amount) }}</template>
              </Column>
              <Column field="discount2Percent" header="Discount Percent 2" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount2Percent) }}</template>
              </Column>
              <Column field="discount2Amount" header="Discount Amount 2" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount2Amount) }}</template>
              </Column>
              <Column field="discount3Percent" header="Discount Percent 3" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount3Percent) }}</template>
              </Column>
              <Column field="discount3Amount" header="Discount Amount 3" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.discount3Amount) }}</template>
              </Column>
              <Column field="nettPrice" header="Nett Price" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.nettPrice) }}</template>
              </Column>
              <Column field="totalAmount" header="Total" style="min-width: 12rem">
                <template #body="slotProps">{{ decimalCurrency(slotProps.data.totalAmount) }}</template>
              </Column>
            </DataTable>
            <div class="grid col-12 m-0 p-0"  style="justify-content:right;">
              <div class="col-12 md:col-7 m-0 p-0">
                <div class="field grid m-0 p-0"><Divider /></div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Total Transaction</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(totalTransactionAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Discount</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(discountPercent)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(discountAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Account</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="discountChartOfAccountCode" class="p-inputtext-sm" disabled="true" style="text-align: left" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="discountChartOfAccountName" class="p-inputtext-sm" disabled="true" style="text-align: left" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Description</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="discountDescription" class="p-inputtext-sm" disabled="true" style="text-align: left" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Sub Total (Tax Base)</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(taxBaseSubTotalAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">VAT</label>
                  <div class="col-4 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(vatPercent)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                  <div class="col-8 md:col-4 m-0 p-0 px-1"><InputText :value="decimalCurrency(vatAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
                <div class="col-12 md:col-12 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-1" style="text-align: right; font-weight: bold">Grand Total</label>
                  <div class="col-12 md:col-8 m-0 p-0 px-1"><InputText :value="decimalCurrency(grandTotalAmount)" class="p-inputtext-sm" disabled="true" style="text-align: right" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    purchase: new PurchaseControllers(),
    code: null,
    btnClosingStatus: 'All',
    btnClosingStatusList: [
      {name: 'All', code: 'All'},
      {name: 'OPEN', code: 'Open'},
      {name: 'CLOSED', code: 'CLOSED'},
    ],
    list: [],
    listDetail: [],
    listPrqDetail:[],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchRefNo: '',
    searchRemark: '',
    searchVendorCode: '',
    searchVendorName: '',
    closingStatus: 'ALL',
    searchCurrencyCode: '',
    searchCurrencyName: '',
    discountChartOfAccountCode:'',
    discountChartOfAccountName:'',
    totalTransactionAmount: 0,
    taxBaseSubTotalAmount:0,
    discountDescription:'',
    discountPercent: 0,
    discountAmount: 0,
    vatPercent: 0,
    vatAmount: 0,
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {
    this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      this.listPrqDetail=[];
      const field = {
        code: this.searchCode,
        vendorCode: this.searchVendorCode,
        vendorName: this.searchVendorName,
        currencyCode: this.searchCurrencyCode,
        currencyName: this.searchCurrencyName,
        transactionStartDate: moment(this.transactionStartDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        transactionEndDate: moment(this.transactionEndDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        closingStatus: this.btnClosingStatus,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListPrqDetail() {
      this.listPrqDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingPrqDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/prq', field);
      this.loadingPrqDetails = false;
      return (this.listPrqDetail = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    createData() {
      this.$router.push({ path: '/purchase/purchase-order/form' });
    },
    processData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }
      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/purchase/purchase-order-closing/form', query: param });
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code; 
        this.totalTransactionAmount = event.data.totalTransactionAmount;
        this.discountPercent = event.data.discountPercent;
        this.discountAmount = event.data.discountAmount;
        this.discountChartOfAccountCode = event.data.discountChartOfAccountCode;
        this.discountChartOfAccountName = event.data.discountChartOfAccountName;
        this.discountDescription = event.data.discountDescription;
        this.taxBaseSubTotalAmount= event.data.taxBaseSubTotalAmount;
        this.vatPercent = event.data.vatPercent;
        this.vatAmount = event.data.vatAmount;
        this.grandTotalAmount = event.data.grandTotalAmount;
        this.getListDetail();
        this.getListPrqDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
