<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-10">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Bank Account</div>
					</div>
				</div>
				<form class="col-12 md:col-10">
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Code</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.code" placeholder="Enter code" :disabled="submitted" required="true" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.code">Code is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Name</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.name" placeholder="Enter name" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Ac No</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.acNo" placeholder="Enter Ac No" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.acNo"> Ac No is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Ac Name</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.acName" placeholder="Enter Ac Name" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.acName">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
							<label class="col-12 mb-2 md:col-4">Bank Account</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.bankCode" placeholder="Enter bank account"  @change="searchChange('bank')"  :class="{'p-invalid': isError && form.bankCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')"/>
								</div>
							</div>
							<div class="col-6 md:col-4">
								<InputText v-model="form.bankName" placeholder="bank account name" disabled="true"/>
							</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Bank Branch</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.bankBranch" placeholder="Enter Bank Branch" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.bankBranch">Name is required.</small>
						</div>
					</div>

					<div class="field grid">
							<label class="col-12 mb-2 md:col-4">Chart Of Account</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.chartOfAccountCode" placeholder="Enter Chart Of Account"  @change="searchChange('chart-of-account')"  :class="{'p-invalid': isError && form.chartOfAccountCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('chart-of-account')"/>
								</div>
							</div>
							<div class="col-6 md:col-4">
							<InputText v-model="form.chartOfAccountName" placeholder="chart of account name" disabled="true"/>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">BBM Voucher No</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.bbmVoucherNo" placeholder="Enter BBM Voucher No" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.bbmVoucherNo">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">BBK Voucher No</label>
						<div class="col-12 md:col-8">
							<InputText type="text" v-model="form.bbkVoucherNo" placeholder="Enter BBK Voucher No" autofocus :class="{'p-invalid': isError && !form.code}"/>
							<small class="p-invalid" v-if="isError && !form.bbkVoucherNo">Name is required.</small>
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Remark</label>
						<div class="col-12 md:col-8">
							<Textarea v-model="form.remark" rows="3" cols="20" />
						</div>
					</div>
					<div class="field grid">
						<label class="col-12 mb-2 md:col-4 md:mb-0">Active Status</label>
						<div class="col-12 md:col-8">
							<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active" :style="{width: '8em'}"/>
						</div>
					</div>
					<div class="field grid">
						<div class="col-12 mb-2 md:col-4 md:mb-0"></div>
						<div class="col-6 md:col-3">
							<Button label="Save" class="p-button-warning" @Click="submit"></Button>
						</div>
						<div class="col-6 md:col-3">
							<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<DynamicDialog />
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupMaster from '@/components/lookup/master/LookupMaster'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		isError: false,
		submitted: false,
		form: {
			code: null,
			name: null,
			acNo: null,
			acName: null,
			bankBranch: null,
			bbkVoucherNo: null,
			bbmVoucherNo: null,
			remark: null,
			activeStatus: true,
			bankCode: null,
			bankName: null,
			chartOfAccountCode: null,
			chartOfAccountName: null,
		}
	}),
	created() {
		if(getParam("code")){
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {
	},
	methods: {
		async getData(data) {
			let temp = await this.master.dataMaster('bank-account', {code:data});
			this.form = temp.data;
		},
		async submit() {
			let BreakException =[]
			this.isError = false;
			try{
				if(this.form.code == "" || this.form.code == null){
					this.isError = true
					this.$toast.add({severity: 'warn', summary: "Code can't be null!", life: 3000})
					throw BreakException;
				}
			} catch (e) {
				if (e !== BreakException) throw e;
			}
			if(!this.isError){
				if(this.submitted){
					await this.master.updateMaster('bank-account', this.form);
				}else{
					await this.master.saveMaster('bank-account', this.form);
				}
				this.cancel();
			}
		},
		cancel() {
			history.back();
		},

		async searchChange(master){
			let temp = null;
			switch (master) {
				case "bank":
					temp = await this.master.dataMaster(master, {code:this.form.bankCode});
					if(temp){
						this.form.bankCode = temp.data.code;
						this.form.bankName = temp.data.name;
					}else{
						this.form.bankCode = null;
						this.form.bankName = null;
					}
					break
				case "chart-of-account":
					temp = await this.master.dataMaster(master, {code:this.form.chartOfAccountCode});
					if(temp){
						this.form.chartOfAccountCode = temp.data.code;
						this.form.chartOfAccountName = temp.data.name;
					}else{
						this.form.chartOfAccountCode = null;
						this.form.chartOfAccountName = null;
					}
					break
				default:
					break
			}
		},

		lookUpMaster(master){
				switch (master) {
					case "bank":
						this.$dialog.open(LookupMaster, {
							props: { header: 'Search Master Bank Account',modal: true },
							data: { module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.bankCode = data.code;
									this.form.bankName = data.name;
								}
							}
						});
						break
					case "chart-of-account":
						this.$dialog.open(LookupMaster, {
							props: {header: 'Search Master COA',modal: true},
							data: {module: master},
							onClose: (options) => {
								const data = options.data;
								if (data) {
									this.form.chartOfAccountCode = data.code;
									this.form.chartOfAccountName = data.name;
								}
							}
						});
						break
					default:
						break
				}
			},
	},

}
</script>
