<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Purchase Request Closing</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-2 m-0 p-1">PR No</label>
                  <div class="col-12 md:col-8 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Purchase Request" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-4 mt-2 m-0 p-1">Closing Status</label>
                  <div class="col-12 md:col-8 m-0 p-1">
                    <Dropdown v-model="btnClosingStatus" :options="btnClosingStatusList" optionLabel="name" optionValue="code" placeholder="Select Closing" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 field grid m-0 p-0 py-1" style="justify-content: right;">
                  <div class="col-3 md:col-2 m-0 p-0 px-1 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>

          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @rowSelect="onRowSelect"
              @rowUnselect="onRowUnselect"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="code" header="PRQ No" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="transcationDate" header="Transaction Date" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="closingStatus" header="Closing Status" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="closingDate" header="Closing Date" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="closingBy" header="Closing By" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="divisionCode" header="Division Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="divisionName" header="Division Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="requestBy" header="Request By" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="refNo" header="Ref No" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="purchaseOrderCode" header="POD No" style="white-space: nowrap; display: flex; justify-content: center" :sortable="true"></Column>
            </DataTable>
            <div class="col-4 md:col-2 m-0 p-1"><Button label="Closing" class="p-button-warning" @Click="processData"></Button></div>
          </div>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              :rowHover="true"
              :scrollable="true"
              :value="listDetail"
              :loading="loadingDetails"
            >
              <template #header>
                <div class="table-header"><label style="font-weight: bold">ITEM DETAIL</label></div>
              </template>
              <Column field="Index" header="No" style="max-width: 60px"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="itemCode" header="Item Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap"></Column>
              <Column field="poQuantity" header="Po Quantity" style="white-space: nowrap"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { store } from '@/store';
import { BasePurchaseUrl } from '@/api/endpoint/base'
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';

export default {
  data: () => ({
    purchase: new PurchaseControllers(),
		baseImport: BasePurchaseUrl()+'/purchase-request/imports?',
		baseExport: BasePurchaseUrl()+'/purchase-request/exports?',
		basePrint: BasePurchaseUrl()+'/purchase-request/print?',
    code: null,
    list: [],
    listDetail: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchDivisionCode: '',
    searchDivisionName: '',
    searchRefNo: '',
    searchRemark: '',
    btnClosingStatus: 'All',
    btnClosingStatusList: [
      {name: 'All', code: 'All'},
      {name: 'Closed', code: 'Closed'},
      {name: 'Open', code: 'Open'},
    ],
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
    isdelete: false,
    selectedRows: false,
    loadingDetails: false,
  }),
  created() {
    // this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      this.listDetail = [];
      const field = {
        code: this.searchCode,
        divisionCode: this.searchDivisionCode,
        divisionName: this.searchDivisionName,
        transactionStartDate: moment(this.transactionStartDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        transactionEndDate: moment(this.transactionEndDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        closingStatus: this.btnClosingStatus,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    async getListDetail() {
      this.listDetail = [];
      if (this.code == null) {
        return false;
      }
      this.loadingDetails = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        headerCode: this.code,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-request/detail', field);
      this.loadingDetails = false;
      return (this.listDetail = temp.data);
    },
    processData() {
      if (this.code == null) {
        this.$toast.add({ severity: 'warn', summary: 'Data Not Selected', life: 3000 });
        return;
      }

      const param = {
        code: this.code,
      };
      this.$router.push({ path: '/purchase/purchase-request-closing/form', query: param });
    },
    onRowSelect(event) {
      if (this.code != event.data.code) {
        this.code = event.data.code;
        this.getListDetail();
      }
      return event;
    },
    onRowUnselect(event) {
      this.code = null;
      this.selectedRows = false;
      this.listDetail = [];
      return event;
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
