<template>
	<div class="grid p-fluid">
		<div class="col-12 md:col-12">
			<div class="card p-fluid">
				<div class="col-12 m-0 p-0">
					<label class="col-12 md:col-2 m-0 p-0"></label>
					<div class="col-12 md:col-10">
						<div class="font-medium text-3xl text-900">Master Employee</div>
					</div>
				</div>
				<form class="col-12 md:col-12">
					<div class="field grid">
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.code" placeholder="Enter code" disabled="true" />
									<small class="p-invalid" v-if="submitted && !form.code">Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Nik</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.nik" placeholder="Enter nik" :disabled="submitted"	required="true" autofocus :class="{ 'p-invalid': submitted && !form.nik }" />
									<small class="p-invalid" v-if="submitted && !form.code">Nik is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Name</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.name" placeholder="Enter name" autofocus	:class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.name">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Address</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.address" placeholder="Enter address" autofocus
										:class="{ 'p-invalid': isError && !form.address }" />
									<small class="p-invalid" v-if="isError && !form.address">Address is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Zip Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.zipCode" placeholder="Enter zip code" autofocus	:class="{ 'p-invalid': isError && !form.zipCode }" />
									<small class="p-invalid" v-if="isError && !form.zipCode">Zip Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">City</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.cityCode" placeholder="Enter city" @change="searchChange('city')"	:class="{ 'p-invalid': isError && form.cityCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="lookUpMaster('city')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.cityName" placeholder="city name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Province</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.provinceCode" placeholder="Province code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.provinceName" placeholder="Province name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Island</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.islandCode" placeholder="Island code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.islandName" placeholder="Island name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Country</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Phone</label>
								<div class="col-12 md:col-9">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.phone" placeholder="Enter Phone" />
										<small class="p-invalid" v-if="submitted && !form.phone">Phone is required.</small>
									</div>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Mobile</label>
								<div class="col-12 md:col-9">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.mobileNo" placeholder="Enter Mobile No" />
										<small class="p-invalid" v-if="submitted && !form.mobileNo">Mobile No is required.</small>
									</div>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Email</label>
								<div class="col-12 md:col-9">
									<div class="p-inputgroup">
										<InputText type="text" v-model="form.email" placeholder="Enter Email" />
										<small class="p-invalid" v-if="submitted && !form.email">Email is required.</small>
									</div>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Gender *</label>
								<div class="col-12 md:col-9">
									<label for="male">MALE</label>&nbsp;
									<RadioButton name="male" value="MALE" v-model="form.gender" :style="{ width: '3em' }" />
									<label for="female">FEMALE</label>&nbsp;
									<RadioButton name="female" value="FEMALE" v-model="form.gender" :style="{ width: '3em' }" />
								</div>
							</div>
						<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Marital Status</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.maritalStatusCode" placeholder="Enter marital status"  @change="searchChange('marital-status')"  :class="{'p-invalid': isError && form.maritalStatusCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('marital-status')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.maritalStatusName" placeholder="marital status name" disabled="true"/>
							</div>
						</div>
						<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Employe Type</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.employeTypeCode" placeholder="Enter employe type"  @change="searchChange('employe-type')"  :class="{'p-invalid': isError && form.employeTypeCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('employe-type')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.employeTypeName" placeholder="employe type name" disabled="true"/>
							</div>
						</div>
						<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Religion</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.religionCode" placeholder="Enter religion"  @change="searchChange('religion')"  :class="{'p-invalid': isError && form.religionCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('religion')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.religionName" placeholder="religion name" disabled="true"/>
							</div>
						</div>
						<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Education</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.educationCode" placeholder="Enter education"  @change="searchChange('education')"  :class="{'p-invalid': isError && form.educationCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('education')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.educationName" placeholder="education name" disabled="true"/>
							</div>
						</div>
						</div>
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">KTP No</label>
								<div class="col-12 md:col-9">
									<InputMask v-model="ktpNo" :placeholder="maskHolder" mask="99-999-9999-999-9999*" :hidden="maskPropertySub" @keyup="dataGroup" :autoClear="false"/>
									<small class="p-invalid" v-if="submitted && !form.ktpNo">Code is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP</label>
								<div class="col-12 md:col-9">
									<InputMask v-model="npwp" :placeholder="maskHolder" mask="99-999-9999-9999-9999-999*" :hidden="maskPropertySub" @keyup="dataGroup" :autoClear="false"/>
									<small class="p-invalid" v-if="submitted && !form.npwp">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Name</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpName" placeholder="Enter NPWP Name" />
									<small class="p-invalid" v-if="submitted && !form.npwpName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Address</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpAddress" placeholder="Enter NPWP Address" />
									<small class="p-invalid" v-if="submitted && !form.npwpAddress">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">NPWP City</label>
								<div class="col-6 md:col-4">
									<div class="p-inputgroup">
										<InputText v-model="form.npwpCityCode" placeholder="Enter city" @change="searchChange('city')"	:class="{ 'p-invalid': isError && form.npwpCityCode != '' }" />
										<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary"	@click="LookupCity('city')" />
									</div>
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.cityName" placeholder="city name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">NPWP Country</label>
								<div class="col-6 md:col-4">
									<InputText v-model="form.countryCode" placeholder="Country code" disabled="true" />
								</div>
								<div class="col-6 md:col-5">
									<InputText v-model="form.countryName" placeholder="Country name" disabled="true" />
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">NPWP Zip Code</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.npwpZipCode" placeholder="Enter npwp zip code" autofocus	:class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.npwpZipName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">AC No</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.acNoCode" placeholder="Enter ac no code" autofocus	:class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.acNoName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">AC Name</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.acCode" placeholder="Enter ac code" autofocus :class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.acName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
							<label class="col-12 mb-2 md:col-3">Bank</label>
							<div class="col-6 md:col-4">
								<div class="p-inputgroup">
									<InputText v-model="form.bankCode" placeholder="Enter bank code"  @change="searchChange('bank')"  :class="{'p-invalid': isError && form.bankCode != ''}"/>
									<Button icon="pi pi-external-link" class="p-button-sm p-button-secondary" @click="lookUpMaster('bank')"/>
								</div>
							</div>
							<div class="col-6 md:col-5">
								<InputText v-model="form.bankName" placeholder="bank name" disabled="true"/>
							</div>
						</div>
						<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Bank Branch</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.bankBranchCode" placeholder="Enter bank branch" autofocus :class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.bankBranchName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Join Date</label>
								<div class="col-12 md:col-9">
									<Calendar id="icon" v-model="form.joinDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{'p-invalid': isError && form.joinDate != ''}"/>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3">Resign Date</label>
								<div class="col-12 md:col-9">
									<Calendar id="icon" v-model="form.resignDate" :showIcon="true" dateFormat="dd/mm/yy" :class="{'p-invalid': isError && form.resignDate != ''}"/>
								</div>
							</div>
							<div class="field grid">
									<label class="col-12 mb-2 md:col-3">Birth Date</label>
									<div class="col-12 md:col-9">
										<Calendar id="icon" v-model="form.birthDate" :showIcon="true" dateFormat="dd/mm/yy" disabled="true" :class="{'p-invalid': isError && form.birthDate != ''}"/>
									</div>
								</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Birth Place</label>
								<div class="col-12 md:col-9">
									<InputText type="text" v-model="form.birthPlaceCode" placeholder="Enter bank branch" autofocus :class="{ 'p-invalid': isError && !form.code }" />
									<small class="p-invalid" v-if="isError && !form.birthPlaceName">Name is required.</small>
								</div>
							</div>
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Remark</label>
								<div class="col-12 md:col-9">
									<Textarea v-model="form.remark" rows="3" cols="20" />
								</div>
							</div>
						</div>
						<div class="col-12 md:col-6">
							<div class="field grid">
								<label class="col-12 mb-2 md:col-3 md:mb-0">Status</label>
								<div class="col-12 md:col-9">
									<ToggleButton v-model="form.activeStatus" onLabel="Active" offLabel="In Active"	:style="{ width: '8em' }" />
								</div>
							</div>
							<div class="field grid">
								<div class="col-12 md:col-3 mb-2 md:mb-0"></div>
								<div class="col-6 md:col-3">
									<Button label="Save" class="p-button-warning" @Click="submit"></Button>
								</div>
								<div class="col-6 md:col-3">
									<Button label="Cancel" class="p-button-danger" @Click="cancel"></Button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<DynamicDialog />
		</div>
	</div>
</template>
<script>
import DynamicDialog from 'primevue/dynamicdialog';
import { store } from '@/store';
import { getParam } from '@/utils/function';
import { MasterControllers } from '@/controllers/master/MasterControllers';
import LookupCity from '@/components/lookup/master/LookupCity'
import LookupMaster from '@/components/lookup/master/LookupMaster'
export default {
	components: {
		DynamicDialog,
	},
	data: () => ({
		master: new MasterControllers(),
		submitted: false,
		ktpNo: null,
		form: {
			code: "",
			nik: "",
			address: "",
			name: "",
			remark: "",
			zipCode: "",
			zipName: "",
			phone: "",
			gender: 'MALE',
			activeStatus: true,
			cityCode: null,
			cityName: null,
			provinceCode: null,
			provinceName: null,
			islandCode: null,
			islandName: null,
			countryCode: null,
			countryName: null,
			maritalStatusCode: null,
			maritalStatusName: null,
			employeTypeCode: null,
			employeTypeName: null,
			religionCode: null,
			religionName: null,
			educationCode: null,
			educationName: null,
			ktpNo: null,
			npwp: null,
			npwpName: null,
			npwpAddress: null,
			npwpCityCode: null,
			npwpCityName: null,
			npwpCountryCode: null,
			npwpCountryName: null,
			npwpZipCode: null,
			npwpZipName: null,
			acNoCode: null,
			acNoName: null,
			acName: null,
			acCode: null,
			bankCode: null,
			bankName: null,
			bankBranchCode: null,
			bankBranchName: null,
			joinDate: store.state.currentDate,
			birthDate: store.state.currentDate,
			birthPlaceCode: null,
			birthPlaceName: null,
		}
	}),
	created() {
		if (getParam("code")) {
			this.submitted = true;
			this.form.code = getParam("code");
			this.getData(getParam("code"));
		}
	},
	mounted() {},
	methods: {
		dataGroup(){
			this.form.ktpNo= this.ktpNo;
			this.form.npwp= this.npwp;
			},
		async getData(data) {
			
			let temp = await this.master.dataMaster('city/get-update',{code:data});
			this.form = temp.data;
			this.form.gender = temp.data.gender === 1 ? true : false;
			this.getDetaile();
			this.ktpNo= "01-001";
			this.npwp= "01-001";
		},
		async submit() {
			let BreakException =[]
			this.isError = false;

			if (this.form.nik == '' || this.form.nik == null) {
        this.$toast.add({ severity: 'warn', summary: "Nik can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.name == '' || this.form.name == null) {
        this.$toast.add({ severity: 'warn', summary: "Name can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.address == '' || this.form.address == null) {
        this.$toast.add({ severity: 'warn', summary: "Address can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.zipCode == '' || this.form.zipCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Zip Code can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.phone == '' || this.form.phone == null) {
        this.$toast.add({ severity: 'warn', summary: "phone1 can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.maritalStatusCode == '' || this.form.maritalStatusCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Marital Status Code can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.employeTypeCode  == '' || this.form.employeTypeCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Employe Type Code can't be null!", life: 3000 });
        throw BreakException;
      }
			
			if (this.form.religionCode  == '' || this.form.religionCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Religion Code can't be null!", life: 3000 });
        throw BreakException;
      }
			
			if (this.form.religionCode  == '' || this.form.religionCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Religion Code can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.educationCode  == '' || this.form.educationCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Education Code can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.ktpNo  == '' || this.form.ktpNo == null) {
        this.$toast.add({ severity: 'warn', summary: "KTP No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwp  == '' || this.form.npwp == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwpName  == '' || this.form.npwpName == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwpAddress  == '' || this.form.npwpAddress == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP Address Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwpCityCode  == '' || this.form.npwpCityCode == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP City Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwpZipCode  == '' || this.form.npwpZipCode == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP Zip Code Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.npwpZipCode  == '' || this.form.npwpZipCode == null) {
        this.$toast.add({ severity: 'warn', summary: "NPWP Zip Code Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.acNoCode  == '' || this.form.acNoCode == null) {
        this.$toast.add({ severity: 'warn', summary: "AC NO Code Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.acName  == '' || this.form.acName == null) {
        this.$toast.add({ severity: 'warn', summary: "AC Name No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.bankCode  == '' || this.form.bankCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Bank Code No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.bankBranchCode  == '' || this.form.bankBranchCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Bank Branch Code No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.joinDate  == '' || this.form.joinDate == null) {
        this.$toast.add({ severity: 'warn', summary: "Join Date No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.birthDate  == '' || this.form.birthDate == null) {
        this.$toast.add({ severity: 'warn', summary: "Birth Date No can't be null!", life: 3000 });
        throw BreakException;
      }

			if (this.form.birthPlaceCode  == '' || this.form.birthPlaceCode == null) {
        this.$toast.add({ severity: 'warn', summary: "Birth Place No can't be null!", life: 3000 });
        throw BreakException;
      }			

			if (!this.isError) {
        let formSubmit = this.form;
        formSubmit.gender = this.form.gender === 'MALE' ? 'MALE' : 'FEMALE';
        formSubmit.gender= this.detail;

        if (this.submitted) {
          await this.master.updateMaster('employee', formSubmit);
          this.cancel();
        } else {
          await this.master.saveMaster('employee', formSubmit);
          this.cancel();
        }
      }
    },
    cancel() {
      history.back();
    },
		async searchChange(master){
			var data = null;
			switch (master) {
				case "city":
				data = await this.master.dataMaster(master, {code:this.form.provinceCode});
					this.form.cityCode = null;
					this.form.cityName = null;
					this.form.provinceCode = null;
					this.form.provinceName = null;
					this.form.islandCode = null;
					this.form.islandName = null;
					this.form.countryCode = null;
					this.form.countryName = null;

					if(data){
						this.form.cityCode = data.data.code;
						this.form.cityName = data.data.name;
						this.form.provinceCode = data.data.code;
						this.form.provinceName = data.data.name;
						this.form.islandCode = data.data.islandCode;
						this.form.islandName = data.data.islandName;
						this.form.countryCode = data.data.countryCode;
						this.form.countryName = data.data.countryName;
					}
				break
				case "marital-status":
					data = await this.master.dataMaster(master, {code:this.form.maritalStatusCode});

						this.form.maritalStatusCode = null;
						this.form.maritalStatusName = null;
						if(data){
						this.form.maritalStatusCode = data.data.maritalStatusCode;
						this.form.maritalStatusName = data.data.maritalStatusName;
						}
					break
				case "employe-type":
					data = await this.master.dataMaster(master, {code:this.form.employeTypeCode});

						this.form.employeTypeCode = null;
						this.form.employeTypeName = null;
						if(data){
						this.form.employeTypeCode = data.data.employeTypeCode;
						this.form.employeTypeName = data.data.employeTypeName;
						}
					break
				case "religion":
					data = await this.master.dataMaster(master, {code:this.form.religionCode});
						this.form.religionCode = null;
						this.form.religionName = null;
						if(data){
						this.form.religionCode = data.data.religionCode;
						this.form.religionName = data.data.religionName;
						}
					break
				case "education":
					data = await this.master.dataMaster(master, {code:this.form.educationCode});
						this.form.educationCode = null;
						this.form.educationName = null;
						if(data){
						this.form.educationCode = data.data.educationCode;
						this.form.educationName = data.data.educationName;
						}
					break
				case "npwpCityCode":
					data = await this.master.dataMaster(master, {code:this.form.npwpCityCode});
						
						this.form.npwpCityCode = null;
						this.form.npwpCityName = null;
						this.form.npwpCountryCode = null;
						this.form.npwpCountryName = null;
						if(data){
							this.form.npwpCityCode = data.data.npwpCityCode;
							this.form.npwpCityName = data.data.npwpCityCode;
							this.form.npwpCountryCode = data.data.npwpCountryCode;
							this.form.npwpCountryName = data.data.npwpCountryCode;
						}
					break
				default:
					break
			}
		},
		
		lookUpMaster(master){
			switch (master) {
				case "city":
				this.$dialog.open(LookupCity, {
					props: { header: 'Search city',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						this.form.cityCode = null;
						this.form.cityName = null;
						this.form.provinceCode = null;
						this.form.provinceName = null;
						this.form.islandCode = null;
						this.form.islandName = null;
						this.form.countryCode = null;
						this.form.countryName = null;
						if (data) {
							this.form.cityCode = data.code;
							this.form.cityName = data.name;
							this.form.provinceCode = data.code;
							this.form.provinceName = data.name;
							this.form.islandCode = data.islandCode;
							this.form.islandName = data.islandName;
							this.form.countryCode = data.countryCode;
							this.form.countryName = data.countryName;
						}
					}
				});
				break
				case "marital-status":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search marital status',modal: true },
					data: { module: master},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.maritalStatusCode = data.code;
							this.form.maritalStatusName = data.name;
						}
					}
				});
				break
				case "employe-type":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search employe type',modal: true },
					data: { module: 'employe-type'},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.employeTypeCode = data.code;
							this.form.employeTypeName = data.name;
						}
					}
				});
				break
				case "religion":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search religion',modal: true },
					data: { module: 'religion'},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.religionCode = data.code;
							this.form.religionName = data.name;
						}
					}
				});
				break
				case "education":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search education',modal: true },
					data: { module: 'education'},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.educationCode = data.code;
							this.form.educationName = data.name;
						}
					}
				});
				break
				case "bank":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search bank',modal: true },
					data: { module: 'bank'},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.bankCode = data.code;
							this.form.bankName = data.name;
						}
					}
				});
				break
				case "npwpCityCode":
				this.$dialog.open(LookupMaster, {
					props: { header: 'Search npwp city code',modal: true },
					data: { module: 'npwpCityCode'},
					onClose: (options) => {
						const data = options.data;
						if (data) {
							this.form.npwpCityCode = data.code;
							this.form.npwpCityName = data.name;
						}
					}
				});
				break
				default:
				break
			}
		},
	}
}
</script>
