$gutter: 1rem;
@import 'node_modules/primeflex/primeflex.scss';
.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  margin-top: 0.3rem;
  padding: 0.2375rem 0.2375rem;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.2rem 0.5rem;
}
.p-inputtext {
  padding: 0.3rem 0.3rem;
}
.p-fluid .p-dropdown {
  font-size: 0.875rem;
  height: 2rem;
}
.layout-wrapper .layout-menu-container .layout-menu li a, .layout-wrapper .layout-menu-container .layout-menu li button {
  display: inline-flex;
}
.field.grid > label {
  display: block;
}
.field {
  margin-bottom: 0.25rem;
}
.p-fluid .p-buttonset {
  width: -moz-available;
}
.p-tag {
  padding: 0.15rem 0.4rem;
}
.p-button-label {
  margin-right: 1rem;
  font-size: x-small;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-toast.p-toast-topright {
    top: 114px;
}
.p-datatable-responsive-scroll > .p-datatable-wrapper > table, .p-datatable-auto-layout > .p-datatable-wrapper > table {
  margin-bottom: 1rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td{
  height: 1.5rem;
}
.p-datatable .p-datatable-thead > tr > th{
	padding: 0.3rem 0.5rem;
}
.p-datatable .p-datatable-tbody > tr > td{
	padding: 0.2rem 0.5rem;
}
.p-datatable .p-datatable-header {
	padding: 0.5rem 1rem;
}
.p-paginator {
	padding: 0.1rem 0rem;
  margin-top: -1rem;
}
.p-link .p-inputtext {
  font-size: 0.8rem;
}
.p-paginator .p-dropdown  {
  height: 2rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  height: 1.357rem;
}
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  height: 1.357rem;
  margin: 0.1rem;
}
.p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  height: 1.357rem;
}
.p-disabled, .p-component:disabled {
	opacity: 0.6;
	background-color: antiquewhite;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #c7bc0f;
  color: #ffffff;
  font-weight: bolder;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
  display: none;
}
