<template>
	<div class="login-body">
		<div class="card login-panel p-fluid">
			<div class="login-panel-content">
				<div class="grid">
					<div class="p-1 m-0 col-12 sm:col-6 md:col-6 logo-container">
						<h2>Sign in</h2>
					</div>
					<div class="p-1 m-0 col-12 username-container">
						<div class="p-inputgroup">
							<InputText type="text" v-model="form.username" placeholder="Enter username" />
							<span class="p-inputgroup-addon">
								<i class="pi pi-user"></i>
							</span>
						</div>
					</div>
					<div class="p-1 m-0 col-12 password-container">
						<div class="p-inputgroup">
							<InputText type="password" v-model="form.password" placeholder="Enter password" />
							<span class="p-inputgroup-addon">
								<i class="pi pi-eye-slash"></i>
							</span>
						</div>
					</div>
					<div class="p-1 m-0 col-6">
						<span>Month</span>
						<div class="login-input">
							<Dropdown v-model="form.month" :options="form.dropdownMonths" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Month" />
						</div>
					</div>
					<div class="p-1 m-0 col-6">
						<span>Year</span>
						<div class="login-input">
							<Dropdown v-model="form.year" :options="form.dropdownYears" optionValue="code" optionLabel="name" :filter="true" placeholder="Select Year" />
						</div>
					</div>
					<div class="col-12 sm:col-6">
						<Button label="Sign In" icon="pi pi-check" @click="login"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { dataMonths, dataYears } from '@/setting/data';
import { AuthControllers } from "@/controllers/auth/AuthControllers";
export default {
	data: () => ({
		auth: new AuthControllers(),
		form: {
			username: "",
			password: "",
			month: null,
			dropdownMonths: null,
			year: null,
			dropdownYears: null,
		},
	}),
	mounted() {
		this.form.month = String(("0" + (new Date().getMonth() + 1)).slice(-2));
		this.form.dropdownMonths = dataMonths;
		this.form.year = String(new Date().getFullYear());
		this.form.dropdownYears = dataYears;
	},
	methods: {
		authorization(username, password, month, year){
			return this.auth.authorization(username, password, month, year);
		},
		async getAccount() {
			return this.auth.account();
		},
		async login() {
			await this.authorization(this.form.username, this.form.password, this.form.month, this.form.year);
			if(!this.auth.error) {
				await this.getAccount()
				this.$router.push({path: '/'})
			}
		},
	}
}
</script>
