<template>
  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card p-fluid">
        <div class="col-12 m-0 p-0">
          <label class="col-12 md:col-2 m-0 p-0"></label>
          <div class="col-12">
            <div class="font-medium text-3xl text-900">Purchase History</div>
          </div>
        </div>
        <Toast />
        <div class="col-12">
          <Toolbar class="mb-12 m-0 py-0 p-2">
						<template v-slot:start>
							<div class="col-4 p-1 m-0"><Button label="Print" icon="pi pi-print" class="p-button-warning text-center" @click="onPrint" /></div>
							<div class="col-4 p-1 m-0"><FileUpload name="file[]" mode="basic" accept=".xls" :auto="true" :maxFileSize="1000000" :error="onImport" :url="baseImport" label="Import" chooseLabel="Import" uploadIcon="pi pi-cloud-upload" class="p-button-warning text-center" @before-send="beforeUpload" @uploader="onImport"/></div>
							<div class="col-4 p-1 m-0"><Button label="Export" icon="pi pi-cloud-download" class="p-button-warning text-center" @click="onExport"/></div>
						</template>
          </Toolbar>

          <Toolbar class="mb-12 m-0 py-0 p-2">
            <template v-slot:start>
              <div class="col-12 grid m-0 p-0 mt-1">
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">DOC No</label>
                  <div class="col-12 md:col-9 m-0 p-1">
                    <InputText type="text" v-model="searchCode" placeholder="Doc No" class="p-inputtext-sm" />
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Period Date</label>
                  <div class="col-12 md:col-10 grid m-0 p-0">
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionStartDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="col-6 md:col-6 m-0 p-1">
                      <Calendar id="icon" v-model="transactionEndDate" :showIcon="true" dateFormat="dd/mm/yy" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Vendor</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchVendorCode" placeholder=" Vendor Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchVendorName" placeholder=" Vendor Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">Remark</label>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRemark" placeholder=" Remark" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-5 field grid m-0 p-0">
                  <label class="col-12 md:col-3 mt-2 m-0 p-1">Item</label>
                  <div class="col-12 md:col-9 grid m-0 p-0">
                    <div class="col-6 md:col-5 m-0 p-0 px-1">
                      <InputText v-model="searchItemCode" placeholder=" Item Code" class="p-inputtext-sm" />
                    </div>
                    <div class="col-6 md:col-7 m-0 p-0 px-1">
                      <InputText v-model="searchItemName" placeholder=" Item Name" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-7 field grid m-0 p-0">
                  <label class="col-12 mb-2 md:col-2 mt-2 m-0 p-1">RefNo</label>
                  <div class="col-6 md:col-6 field grid m-0 p-0">
                    <div class="col-12 m-0 p-0 px-1">
                      <InputText v-model="searchRefNo" placeholder=" RefNo" class="p-inputtext-sm" />
                    </div>
                  </div>
                </div>
                <div class="col-12 field grid m-0 p-0 py-1" style="justify-content: right;">
                  <div class="col-3 md:col-2 m-0 p-0 px-1 mb-2">
                    <Button label="Search" icon="pi pi-search" class="p-button-search" @Click="searchList" />
                  </div>
                </div>
              </div>
            </template>
          </Toolbar>
          <div class="card mt-3">
            <DataTable
              showGridlines
              responsiveLayout="scroll"
              :loading="loading"
              dataKey="code"
              scrollHeight="400px"
              class="col-12 md:col-12 p-0 m-0"
              :lazy="true"
              ref="dt"
              selectionMode="single"
              v-model:selection="selectedRows"
              :totalRecords="totalRecords"
              :value="list"
              :paginator="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              :rows="5"
              :rowsPerPageOptions="[5, 10, 20, 50]"
              :rowHover="true"
              :scrollable="true"
              @page="onPage($event)"
              @sort="onSort($event)"
            >
              <Column field="Index" header="No" style="max-width: 60px"><template #body="{ index }">{{ index + 1 + meta.page * meta.rows }}</template></Column>
              <Column field="itemCode" header="Item Code" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="itemName" header="Item Name" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="code" header="Document No" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="transcationDate" header="Transaction Date" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="documentType" header="Document Type" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="vendorName" header="Vendor" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="currencyCode" header="Currency" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="exchangeRate" header="Exchange Rate" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="nettPrice" header="Nett Price" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="remark" header="Remark" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="quantity" header="Quantity" style="white-space: nowrap" :sortable="true"></Column>
              <Column field="unitOfMeasureCode" header="UOM" style="white-space: nowrap" :sortable="true"></Column>
            </DataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { store } from '@/store';
import EventBus from '@/setting/event-bus';
import { getStatus, valdNull,decimalCurrency, removeCommas } from '@/utils/function';
import { PurchaseControllers } from '@/controllers/purchase/PurchaseControllers';
import { BasePurchaseUrl } from '@/api/endpoint/base'
import moment from 'moment';

export default {
  data: () => ({
    purchase: new PurchaseControllers(),
		baseImport: BasePurchaseUrl()+'/purchase-history/imports?',
		baseExport: BasePurchaseUrl()+'/purchase-history/exports?',
		basePrint: BasePurchaseUrl()+'/purchase-history/print?',
    code: null,
    list: [],
    searchCode: '',
    transactionStartDate: store.state.periodStartDate,
    transactionEndDate: store.state.periodEndDate,
    searchVendorCode: '',
    searchVendorName: '',
    searchItemCode: '',
    searchItemName: '',
    searchRefNo: '',
    searchRemark: '',
    meta: {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
      filters: null,
    },
    totalRecords: 0,
  }),
  created() {
    // this.getList();
  },
  mounted() {
    this.meta = {
      page: 0,
      rows: 5,
      sortField: 'code',
      sortOrder: 1,
    };
  },
  methods: {
    searchList() {
      this.meta.page = 0;
      this.getList();
    },
    async getList() {
      this.loading = true;
      this.meta.page = this.meta.page ? this.meta.page : 0;
      const field = {
        code: this.searchCode,
        vendorCode: this.searchVendorCode,
        vendorName: this.searchVendorName,
        transactionStartDate: moment(this.transactionStartDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        transactionEndDate: moment(this.transactionEndDate,'DD/MM/YYYY').format("DD-MM-YYYY"),
        itemCode: this.searchItemCode,
        itemName: this.searchItemName,
        refNo: this.searchRefNo,
        remark: this.searchRemark,
        page: this.meta.page,
        size: this.meta.rows,
        sort: this.meta.sortOrder == 1 ? valdNull(this.meta.sortField, 'code') + ',' + 'ASC' : valdNull(this.meta.sortField, 'code') + ',' + 'DESC',
      };
      let temp = await this.purchase.searchPurchase('purchase-order/history', field);
      this.totalRecords = temp.totalData;
      this.selectedRows = null;
      this.code = null;
      this.loading = false;
      return (this.list = temp.data);
    },
    printData() {
      store.state.blockedPanel = true;
      EventBus.emit('show-locked-panel-login', 'Session Expired');
    },
    onPage(event) {
      this.meta = event;
      this.getList();
    },
    onSort(event) {
      this.meta = event;
      this.getList();
    },
    status(val, is) {
      return getStatus(val, is);
    },
    decimalCurrency(val) {
      return decimalCurrency(val);
    },
    removeCommas(val) {
      return removeCommas(val);
    },
  },
};
</script>
